.ajax-progress .message {
  display: none;
}
.ajax-progress {
  float: none;
	display: inline-block;
}
form.commerce-checkout-form-checkout
{

}
form.commerce-checkout-form-checkout .commerce_payment.form-wrapper {
  display: none;
}
.admin-menu .ajax-notify {
  top: 30px;
}
.ajax-notify {
  position: fixed;
  top: 0;
	right:0;
	left:0;
	z-index: 999;
}
.ajax-notify .message {
  padding: 3px 7px 2px;	
  background-color: #28CBA4;
	color: #FFF;
	margin:0 auto;
	width: 320px;
	text-align:center;
}
form.commerce-checkout-form-checkout fieldset.checkout_pane_info
{
	float : left;
}
.checkout-light form.commerce-checkout-form-checkout div fieldset.buttons_submit {
	margin-left: 2px;
  float: none;
  clear:both;
  margin-top: 10px;
}
div#page.checkout-light {
	width: 655px;
} 
form.commerce-checkout-form-checkout div fieldset.buttons_submit {
  clear: none;
  float: right;
}
form.commerce-checkout-form-checkout div > .form-wrapper
{
  float : left;	
}
form.commerce-checkout-form-checkout div.customer_profile_billing_container {
  float : left;  
  width : 310px;
  height : 735px;
  background-color : #f1f1f1;
}
form.commerce-checkout-form-checkout div.account_container
{
  width : 310px;
  height : 200px;
  background-color : #f1f1f1;
  overflow : hidden;
  float: left;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper
{
  background-color: #8295A6;
  margin: 0;
  min-height: 735px;
  padding: 0;
  width: 341px;
}
div.messages {
  background-image: none;
  display: block;
  left: 10px;
  line-height: 34px;
  margin:0;
  padding: 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: -40px;
}

form.commerce-checkout-form-checkout fieldset
{
	border : none;
}

form.commerce-checkout-form-checkout fieldset legend
{
	display : none;
}
form.commerce-checkout-form-checkout fieldset
{
	padding : 0;
}
/*----------------------------------------------------INFO-DON--------------------------------------------------*/
form.commerce-checkout-form-checkout fieldset.checkout_pane_info
{
  width: 269px;
  height : 805px;
  margin : 0;
  padding : 0;
  font-family : 'Gill Sans';
  /*font-weight: bold;*/
  font-size : 14px;
  line-height : 16px;
  padding :  30px 18px;
}
.checkout-light form.commerce-checkout-form-checkout fieldset.checkout_pane_info {
	display: none;
}

.form-item-customer-profile-billing-addressbook {
  display: none;
}
form.commerce-checkout-form-checkout fieldset.checkout_pane_info h2
{
  width : 200px;
	font-size : 21px;
	color :#28bca4;
	margin : 0;
	text-transform : uppercase;
	font-weight : normal;
	line-height : 19px;
}
form.commerce-checkout-form-checkout fieldset.checkout_pane_info h1
{
  width : 200px;
  color :#28bca4;
  margin : 0;
  text-transform : uppercase;
  font-weight : normal;
}
form.commerce-checkout-form-checkout fieldset.checkout_pane_info h3
{
  width : 200px;
  color :#000;
  margin : 0;
  text-transform : uppercase;
  font-weight : normal;
}
form.commerce-checkout-form-checkout fieldset.checkout_pane_info h4
{
  width : 200px;
  color :#000;
  margin : 0;
  font-weight : normal;
}

form.commerce-checkout-form-checkout fieldset.checkout_pane_info .pane_savoir_plus
{
  display:inline-block;
  width:90px;
  padding:5px 30px 5px 10px;
  background:url("/sites/all/themes/ilot/images/fleche_more.png") no-repeat right center #293036;
  color:#e2e2e2;
}

form.commerce-checkout-form-checkout fieldset.checkout_pane_info a.info_don_more
{
	display : inline-block;
	margin-top : 30px;
	padding : 3px 27px 0 11px;
	color : #ffffff;
	font-family : 'StaticRegular';
	text-decoration : none;
	height : 18px;
	background : #293036 url('../../images/fleche_more.png') no-repeat right;
}

form.commerce-checkout-form-checkout fieldset.checkout_pane_info ul
{
	padding-left : 18px;
	text-indent : 5px;
	list-style-image : url('../../images/puce1.png');
	line-height : 20px;
}
form.commerce-checkout-form-checkout fieldset.checkout_pane_info ul li
{
  list-style-image : url('../../images/puce1.png');
  line-height : 20px;
}
/*----------------------------------------------------DON-EN-LIGNE--------------------------------------------------*/
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper h2
{
	width : 100%;
	height : 40px;
	margin : 0;
	padding: 4px 0 2px;
	background-color : #293036;
	color : #ffffff;
	text-transform : uppercase;
	font-size : 20px;
	text-align : center;
	font-family : 'StaticRegular';
	font-weight : normal;
	line-height: 40px;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper h2 span {
	background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
  color: #293036;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 32px;
  margin-right: 5px;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper h2 span abbr {
	border: 0 none;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper label {
	display: none;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-radios label {
  display: inline-block;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-type-textfield input { 
  font-size: 14px;
  width: 155px;
}
.form-type-textfield input { 
  font-size: 14px;
  width: 100%;
}
.fieldset-wrapper {
	margin:0;
	padding:0;
}
.commerce_french_donate_wrapper .form-type-radios {
  clear: both;
	margin: 0;
}
.calculator-title,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper fieldset fieldset legend
{
  display : inline-block;
  font-family : 'Anaheim';
  color : #ffffff;
	font-size : 21px;
	margin : 0;
	float: left;
}
.commerce_french_donate_wrapper > fieldset {
	margin: 20px 33px 20px 20px;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper fieldset.commerce_french_donate
{
	padding : 30px 18px;
}
.calculator-title span.picto {
	font-family : 'NeouBold';
  display : block;
  margin-top : -2px;
  padding-right : 12px;
  background : url('../../images/triangle.png') no-repeat right 50%;
  float: left;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper fieldset fieldset legend span span
{
	font-family : 'NeouBold';
	display : block;
	margin-top : -2px;
	padding-right : 12px;
	background : url('../../images/triangle.png') no-repeat right 50%;
}
.calculator-title span {
  font-family : 'NeouBold';
  display : block;
  margin-top : -2px;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper fieldset fieldset .fieldset-description
{
  clear: both;
  color: #FFFFFF;
  font-family: 'Gill Sans';
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  width: 200px;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-type-radios.form-item-commerce-french-donate-donation-type > label,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-type-radios.form-item-commerce-french-donate-fieldset-monthly-monthly > label,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-monthly-monthly-free >label,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-type-radios.form-item-commerce-french-donate-fieldset-unique-unique > label,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-unique-unique-free >label,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-unique-unique .description
{
  display : none;
}
form.commerce-checkout-form-checkout div.form-type-textfield {
  clear: both;
}

form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper.don_isf
{
  background-color : #5ebdad;
}
form.commerce-checkout-form-checkout fieldset.commerce_french_donate_wrapper
{
	
}
div.commerce_french_donate_wrapper .calculator {
	color: #fff;
	clear: both;
}
div.commerce_french_donate_wrapper .calculator .info {
	font-size: 14px;
}
div.commerce_french_donate_wrapper .calculator .title {
	border-top: 1px solid #28bca4;
	color: #FFF;
	background: url("../../images/separator-bottom-regular.png") no-repeat scroll center bottom transparent;
  text-transform: uppercase;
  font-family : 'Gill Sans';
  font-weight: bold;
  font-size: 14px;
   padding: 4px 0 9px;
  text-align: center;
}
div.commerce_french_donate_wrapper.don_isf .calculator .title {
  border-top: 1px solid #293036;
	color: #293036;
  background: url("../../images/separator-bottom-isf.png") no-repeat scroll center bottom transparent;	
	
}
div.commerce_french_donate_wrapper .calculator a,
div.commerce_french_donate_wrapper a.btn {
	background-color: #28BCA4;
  color: #FFFFFF;
  display: block;
  font-family: 'NeouBold';
  font-size: 14px;
  margin: 10px 0 10px;
  padding: 12px 10px 9px;
  text-align: center;
  text-decoration: none;
  width: auto;
  text-transform:uppercase;
  float: none;
  clear: both;
}
div.commerce_french_donate_wrapper.don_isf .calculator a {
  background-color : #293036;
}
div.commerce_french_donate_wrapper .calculator .resultat {
  clear: both;
  padding: 11px 0 10px;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper div.form-type-radios div div
{
	float : left;
	margin : 0 13px 0 0;
	font-size : 13px;
	color : #ffffff;
	font-family : 'Gill Sans';
}

form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper div.form-type-radios div div label
{
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper div.form-type-radios div div div
{
  float : left;
  margin : 5px 5px 0 0;
}

form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce_french-donate-fieldset-monthly-monthly.commerce_french_donate_wrapperm.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce_french-donate-fieldset-unique-unique-free
{
	clear : both;
	padding : 0;
}

form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce_french-donate-fieldset-monthly-monthly-free input,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce_french-donate-fieldset-unique-unique-free input
{
	height : 16px;
	margin : 30px 0 0 0;
	padding : 2px 0;
	-webkit-box-shadow: 0; 
  -moz-box-shadow: 0; 
  box-shadow: 0;
  border : none;  
  color:    #28bca4;
  font-family : 'StaticRegular';
  font-size : 13px;    
}

form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-monthly-monthly-free input::-webkit-input-placeholder,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-unique-unique-free input::-webkit-input-placeholder
{ /* WebKit browsers */
    color:    #28bca4;
    font-family : 'StaticRegular';
    font-size : 13px;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-monthly-monthly-free input:-moz-placeholder,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-unique-unique-free input:-moz-placeholder
{ /* Mozilla Firefox 4 to 18 */
    color:    #28bca4;
    font-family : 'StaticRegular';
    font-size : 13px;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-monthly-monthly-free input::-moz-placeholder,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-unique-unique-free input::-moz-placeholder
{ /* Mozilla Firefox 19+ */
    color:    #28bca4;
    font-family : 'StaticRegular';
    font-size : 13px;
}
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-monthly-monthly-free input:-ms-input-placeholder,
form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .form-item-commerce-french-donate-fieldset-unique-unique-free input:-ms-input-placeholder
{ /* Internet Explorer 10+ */
    color:    #28bca4;
    font-family : 'StaticRegular';
    font-size : 13px;
}


form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper .edit-commerce_french-donate-fieldset-monthly
{
	margin-bottom : 20px;
}

form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper div.block_or
{
	height : 12px;
	width : 182px;
	clear : both;
	border-bottom : 1px solid #28bca4;
	margin : 50px auto;
}

form.commerce-checkout-form-checkout div.commerce_french_donate_wrapper div.block_or span
{
	height : 22px;
	width : 44px;
	padding-top : 2px;
	margin-left : 70px;
	display : block;
	text-align : center;
	float : left;
	background-color : #28bca4;
	color :#ffffff;
	font-family : 'StaticRegular';
	text-transform : uppercase;
}
/*----------------------------------------------------BILLING-INFO-CONNECT------------------------------------------*/

form.commerce-checkout-form-checkout div.account_container fieldset.account
{
	margin : 0;
  padding : 0px 18px;
  background-color : #f1f1f1;
}
/*----------------------------------------------------BILLING-INFO--------------------------------------------------*/
form.commerce-checkout-form-checkout div.customer_profile_billing_container .form-type-textfield label,
form.commerce-checkout-form-checkout div.customer_profile_billing_container .form-type-select label {
  display: none;
}
form.commerce-checkout-form-checkout div.customer_profile_billing_container p
{
	padding : 0;
	font-family : verdana,'sans-serif';
	font-size : 12px;
	line-height : 14px;
	margin : 30px 0;
}
form.commerce-checkout-form-checkout .field-name-field-condition-privacy {
  padding : 0;
  font-family : verdana,'sans-serif';
  font-size : 12px;
  line-height : 14px;
}
form.commerce-checkout-form-checkout .field-name-field-condition-privacy div {
  display: inline;
}
form.commerce-checkout-form-checkout fieldset.customer_profile_billing
{
  padding : 10px 18px;
  background-color : #f1f1f1;
  margin : 0;
  
}
form.commerce-checkout-form-checkout fieldset.customer_profile_billing .form-submit
{
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #28BCA4;
  border: 0 none;
  clear: both;
  color: #FFFFFF;
  float: right;
  font-family: 'StaticRegular';
  margin: 10px 0;
  padding: 7px 14px 4px;
  text-transform: uppercase;
}

form.commerce-checkout-form-checkout fieldset.customer_profile_billing .form-item-customer-profile-billing-generate-account {
  clear: both;
  margin: 10px 0;
}
form.commerce-checkout-form-checkout fieldset.customer_profile_billing .form-item-customer-profile-billing-generate-account .description {
  clear: both;
  margin: 10px 0;
}
form.commerce-checkout-form-checkout h2.customer_profile_billing_title
{
  width : 100%;
  height : 40px;
  margin : 0;
  padding: 4px 0 2px;
  background-color : #cecece;
  color : #000000;
  text-transform : uppercase;
  font-size : 20px;
  text-align : center;
  font-family : 'StaticRegular';
  font-weight : normal;
  line-height : 40px;
	
}
form.commerce-checkout-form-checkout h2.customer_profile_billing_title span {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 17px;
  color: #FFF;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 32px;
  margin-right: 5px;
}
form.commerce-checkout-form-checkout h2.customer_profile_billing_title span abbr {
  border: 0 none;
}
form.commerce-checkout-form-checkout fieldset.customer_profile_billing label
{
}

form.commerce-checkout-form-checkout fieldset.customer_profile_billing div
{
	width : 100%;
}

form.commerce-checkout-form-checkout fieldset.customer_profile_billing label span
{
  font-family : 'Gill Sans';
  font-weight: bold;
  font-size : 12px;
  color : #28cba4;
}

fieldset.customer_profile_billing div.fieldset-wrapper div.field-type-list-text.field-name-field-billing-civilite label,
fieldset.customer_profile_billing div.fieldset-wrapper div.field-type-list-text.field-name-field-billing-civilite div
{
	width : auto;
}

fieldset.customer_profile_billing div.fieldset-wrapper div.field-type-list-text.field-name-field-billing-civilite .form-item.form-type-radios div.form-radios
{
	width : 175px;
	float : right;
}

fieldset.customer_profile_billing div.fieldset-wrapper div.field-type-list-text.field-name-field-billing-civilite .form-item.form-type-radios div.form-radios .form-radio.styledRadio
{
	margin : 5px 7px 0 0;
}
fieldset.customer_profile_billing div.fieldset-wrapper div.field-type-list-text.field-name-field-billing-civilite .form-item.form-type-radio
{
	margin-right : 15px;
}

fieldset.customer_profile_billing div.fieldset-wrapper div.field-type-list-text.field-name-field-billing-civilite .form-item.form-type-radios div,
fieldset.customer_profile_billing div.fieldset-wrapper div.field-type-list-text.field-name-field-billing-civilite .form-item.form-type-radios label
{
	float : left;
	position : relative;
}

fieldset.customer_profile_billing div.fieldset-wrapper div.field-type-list-text.field-name-field-billing-civilite .form-item.form-type-radios div label
{
	color : #000000;
}
fieldset.customer_profile_billing div.fieldset-wrapper .form-item.form-type-textfield input
{
  -webkit-box-shadow: 0; 
  -moz-box-shadow: 0; 
  box-shadow: 0;
  border: medium none;
  color: #000000;
  font-family: verdana,sans-serif;
  font-size: 14px;
  height: 20px;
  padding: 7px 10px 5px;
  width: 254px;
}

fieldset.customer_profile_billing div.fieldset-wrapper div.select_form_country
{
  background: url("../../images/fleche_select.png") no-repeat scroll right center #FFFFFF;
  float: right;
  height: 32px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

fieldset.customer_profile_billing div.fieldset-wrapper div.select_form_country select
{
  -webkit-appearance: none;
  -moz-appearance : none;
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: 0;
  color: #000000;
  font-family: 'Gill Sans';
  font-weight: bold;
  font-size: 14px;
  height: 32px;
  padding: 7px 8px 5px;
  width: 110%;
}
fieldset.customer_profile_billing div.fieldset-wrapper div.select_form_country select option {
	padding: 7px 8px 5px;
}
fieldset.customer_profile_billing div.form-item-customer-profile-billing-generate-account,
fieldset.customer_profile_billing div.form-item-customer-profile-billing-numero-donateur {
	font-size: 12px;
	line-height: 14px;
}
div.street-block:before
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

fieldset.customer_profile_billing div.street-block div
{
	clear : both;
}

form.commerce-checkout-form-checkout fieldset.customer_profile_billing div.fieldset-wrapper div.field-name-field-billing-civilite,
form.commerce-checkout-form-checkout fieldset.customer_profile_billing div.fieldset-wrapper div.field-name-field-billing-telephone,
form.commerce-checkout-form-checkout fieldset.customer_profile_billing div.fieldset-wrapper div.addressfield-container-inline.locality-block div,
form.commerce-checkout-form-checkout fieldset.customer_profile_billing div.fieldset-wrapper div.field-name-field-billing-email,
form.commerce-checkout-form-checkout fieldset.customer_profile_billing div.fieldset-wrapper div.addressfield-container-inline.name-block div,
form.commerce-checkout-form-checkout fieldset.customer_profile_billing div.fieldset-wrapper div.street-block div,
form.commerce-checkout-form-checkout fieldset.customer_profile_billing div.fieldset-wrapper div.form-item.form-type-select
{
	margin-bottom : 8px;
  overflow : hidden;
}
form.commerce-checkout-form-checkout fieldset.customer_profile_billing div.fieldset-wrapper .field-name-field-billing-email > div > div {
  padding-bottom: 8px;
}
/*----------------------------------------------------SUBMIT--------------------------------------------------*/
form.commerce-checkout-form-checkout fieldset.buttons_submit div.fieldset-wrapper span.button-operator,
form.commerce-checkout-form-checkout fieldset.buttons_submit div.fieldset-wrapper input.checkout-cancel.form-submit
{
  display : none;
}

form.commerce-checkout-form-checkout fieldset.buttons_submit div.fieldset-wrapper,
form.commerce-checkout-form-checkout fieldset.buttons_submit div.fieldset-wrapper input.checkout-submit.form-submit
{
	height : 100%;
	width : 100%;
	background : transparent;
	border : none;
	-webkit-appearance : none;
	-moz-appearance : none;
	appearance : none; 
	color : rgba(0, 0, 0, 0);
	text-indent: -999em;
}

form.commerce-checkout-form-checkout fieldset.buttons_submit div.fieldset-wrapper input.checkout-submit.form-submit
{
	opacity : 1;
	display: block;
}

form.commerce-checkout-form-checkout fieldset.buttons_submit div.fieldset-wrapper
{
	background : url(../../images/submit_donation.png) center center;
}

/*----------------------------------------------------SECURE-DONATION--------------------------------------------------*/
form.commerce-checkout-form-checkout fieldset.checkout_pane_don_secure
{
	overflow : hidden;
	width : 290px;
  height : 130px;
  margin : 0;
  padding : 0 0 0 30px;
}

form.commerce-checkout-form-checkout fieldset.checkout_pane_don_secure img
{
	height : 80px;
	float : left; 
}

form.commerce-checkout-form-checkout fieldset.checkout_pane_don_secure p
{
	font-family : 'StaticRegular';
	font-size : 24px;
	color : #28bca4;
	text-transform : uppercase;
	width : 270px; 
	margin-top : 30px;
	padding-top : 15px;
}

/*----------------------------------------------------CONFIANCE-DONATION--------------------------------------------------*/

form.commerce-checkout-form-checkout fieldset.checkout_pane_don_confiance
{
	width : 330px;
	height : 130px;
  background-color : #28bca4;
  margin : 0;
  padding : 0;
}

form.commerce-checkout-form-checkout fieldset.checkout_pane_don_confiance img
{
	height : 80px;
	float : left;
}

form.commerce-checkout-form-checkout fieldset.checkout_pane_don_confiance p
{
  font-family : 'Gill Sans';
  font-size : 13px;
  line-height : 18px;
  text-transform : uppercase;
  width : 230px;
  color : #ffffff;
  margin : 30px 0 0 100px;
  padding-top : 13px;
  font-weight: bold;
}

form.commerce-checkout-form-checkout fieldset.checkout_pane_don_confiance p span
{
	font-family : 'AvenirLTStd85Heavy';
}

fieldset.customer_profile_billing div.fieldset-wrapper div
{
  margin : 0;
  padding : 0;
}

fieldset.customer_profile_billing input.form-text,
fieldset.customer_profile_billing select.form-select
{
	width : 100%;
}


fieldset.buttons_submit
{
  height: 61px;
  margin: 20px 0 0;
  padding: 0;
  width: 653px;
}

.page-checkout-complete h1 {
    font-family: 'NeouBold',sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
}
.page-checkout-complete h1:after {
    background: url("../../images/triangle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 10px;
    width: 12px;
}

/* ATOS PAYMENT FORM */
#commerce-atos-redirect-form > div > div {
	overflow:hidden;
	min-height: 100px;
}

#commerce-atos-redirect-form .checkout-help {
  text-align: center;
  clear: both;
  min-height: 0;
}
#commerce-atos-redirect-form div div input {
  -webkit-box-shadow: 0 2px 6px #999;
  -moz-box-shadow: 0 2px 6px #999; 
  box-shadow: 0 2px 6px #999;
  border-radius: 5px;
  height: 35px;
  overflow: hidden;
  width: 55px;
}
#commerce-atos-redirect-form div div input:hover { 
	-webkit-box-shadow: 0 2px 6px #555;
  -moz-box-shadow: 0 2px 6px #555; 
  box-shadow: 0 2px 6px #555;
}
.block-logo-confiance {
  clear:both;
  overflow:hidden;
  width:600px;
  margin: 0 auto;
}
.block-logo-confiance img {
  float:left;
  
  margin-right: 20px;
}
.block-logo-confiance p {
  float:left;
  width: 500px;
  margin: 0;
}