    .reseaux {
        position:absolute;
        right:1rem;
        top:1.5rem;


        img {

            margin: 0 1rem;

        }

        .twitter-img {
            display: inline-block;
            background: url("../images/twitter_vert.svg") no-repeat;
            background-position: bottom;
            width:1.5rem;
            margin: 0 0.15rem;
            vertical-align: bottom;

            &:hover {

                background: url("../images/twitter_blanc.svg") no-repeat;
                background-position: bottom;

            }

            @include breakpoint($tablet) {
                width:2rem;
                margin: 0 0.5rem;
            }

        }

        a {

            vertical-align: middle;

            .linkedin-img {
                display: inline-block;
                background: url("../images/linkedin_vert.svg") no-repeat;
                background-position: bottom;
                width:1.5rem;
                margin: 0 0.15rem;
                vertical-align: middle;
                &:hover {

                    background: url("../images/linkedin_blanc.svg") no-repeat;
                    background-position: bottom;

                }

                @include breakpoint($tablet) {
                    width:2rem;
                    margin: 0 0.5rem;
                }

            }


        }

    }
