
.node-actualites{
  
    .date {
           .socials{

            
            overflow: hidden;
            position: absolute;
          
            height: 3rem;
            width: 5rem;
            bottom: 1rem;
            right: 0rem;
     
            //@include jpg(fake_rs,50% 50%,contain);
        }
    }

    .date-actualite{
        position: absolute;
        right: 0rem;
        top:0px;
        color:black;
        font-weight: bold;
        text-align: center;
        @include fz(1);
       
        .jour{
            display: block;
             @include jpg(bg_date,50% 100%, 100%);
           
             width: 100%;
              @include fz(2);
             color:white;
             height: auto;
            padding: 1rem;
        }
        .mois ,.annee{
             @include transition(all 0.2s ease-in-out);
            @include opacity(0.7);
        }
       
    }

        .vignette {

            @include b(20%,middle,20%);

            img {

                line-height: 0;

                width: 100%;
                height: auto;

            }

        }

        .texte {

            display: inline-block;
            vertical-align: middle;
            width: 60%;

            padding-left: 1rem;
           
            h1{
                margin-bottom: 1rem;
                margin-top:0rem;
            }
            

            .text-detail {

                display: none;

                @include breakpoint($mobilel) {
                    display: block;
                 }

            }

            p {
                text-align: left !important;
            }

        }

}




.actualites ,.node-liste-actualites{
 

//    @include b(64%);
    @include b(55%);

//    @media #{$m-sd} {
//            @include b(56%);
//        }

    .date{
           .socials{

            
            overflow: hidden;
            position: absolute;
          
            height: 3rem;
            width: 5rem;
            bottom: 1rem;
            right: 0rem;
     
            //@include jpg(fake_rs,50% 50%,contain);
        }
    }

    .date{
        position: absolute;
        right: 0rem;
        top:0px;
        color:black;
        font-weight: bold;
        text-align: center;
        @include fz(1);
       
        .jour{
            display: block;
             @include jpg(bg_date,50% 100%, 100%);
           
             width: 100%;
              @include fz(2);
             color:white;
             height: auto;
            padding: 1rem;
        }
        .mois ,.annee{
             @include transition(all 0.2s ease-in-out);
            @include opacity(0.7);
        }
       
    }

    .actus {

        padding: 0;
        position: relative;

        margin-bottom:2rem;

        border-bottom: 3px solid $green;
        line-height: 0;

        text-align:left;
        overflow: hidden;
        height: 100%;

        &:not(:first-child) {
            margin-top:2rem;
        }
        &:hover{
             .date-actualite{
             .mois ,.annee{
             @include opacity(1);
            } 

        }
        }
          }

        .vignette {

            @include b(35%,top,20%);

            img {

                line-height: 0;

                width: 100%;
                height: auto;

            }

        }

        .texte {

            display: inline-block;
            vertical-align: top;
            width: 55%;
            line-height: 1.3em;

            padding-left: 1rem;
            padding-bottom: 5rem;

            h1{
                margin-bottom: 1rem;
                margin-top:0rem;
            }
            

            .text-detail {

                display: none;

                @include breakpoint($mobilel) {
                    display: block;
                 }

            }

            p {
                text-align: left !important;
            }

        }

  

 
    .read-more{
        @include btn_actu();
        position: absolute;
        right: 0px;
        bottom:1rem;
//        bottom: 0.3rem;
    }

      .actu{
        float: right;
         left: 0rem;
            width: 50%;
            position: relative;
            margin-top: 3rem;
             @include btn_actu($green,100%);
    }

}



