.node-association {

    p {

        margin: 1rem 0;

    }

    h1 {

        padding-bottom: 0.5rem;

    }

    .content {

        .field-name-field-association-texte {

            table {

                display: block;
                background-color: $lightgrey;
//                padding: 6rem;

                tbody {

                    display: block;
                    width: 100%;

                    tr {

                        display: inline-block;
                        vertical-align: top;
                        padding: 0 6rem;

                        &:nth-child(1){

                             display: block;
                             padding: 2rem 6rem;

                        }

                        &:nth-child(2){

                            img {

                                height: 284px;

                            }

                        }

                        td {

                            display: inline-block;
                            text-align: left;

                            &:nth-child(2){

                                display: block;

                            }

                            a {

                                img {

                                    height: 284px;
                                    width: 200px;
                                    text-align: center;

                                }

                            }

                        }

                    }

                }

            }

        }

    }

    .read-more {


        @include btn_generique($green);

        clear: both;
        display: block;
        margin:0 auto;

        a {

            text-decoration: none;

        }

    }

    .bandeau-je-fais-don {

        img {

            width: 6rem;
            display: inline-block;
            vertical-align: middle;

        }

        .col-1 {

            display: inline-block;
            font-family: "PermanentMarker",sans-serif;
            color:$red;
            vertical-align: middle;

        }

        .don-btn {

            @include btn_generique($red);
            margin: 10px 0;
        }
    }

}

article.node-association {

    @include breakpoint($laptop){

        width: 50%;

    }

    width: 100%;
}

aside.view-mode-full.node-association {

    background-color: $lightgrey;
    text-transform: uppercase;
    text-align: center;

    @include breakpoint($laptop){

        width: 20%;

    }

    width: 100%;

    .texte {

        text-align: left;

        h3 {

            padding: 0 2rem;

        }

        h4 {

            padding: 0 2rem;

        }

    }

}
