.node-association {
    padding: 1rem;

    p {

        //margin: 1rem 0;
         @include fz(2);
          margin-bottom: 0.5rem;

          a{
            color:$green;
          }

    }


    h1 {

        padding-bottom: 0.5rem;
        margin-bottom: 0rem;

    }

    ul{
        @include u();
    }

    .content{
        margin-bottom: 2rem;

    }

    .standard{
        padding: 0rem;
        margin-bottom: 2rem;
    }

    .vert{
         margin-bottom: 2rem;
        background-color: $green;
        color:white;
        padding: 1rem;
        padding-left: 3rem;

        p{
            font-weight: bold;
        }
    }

    .gris{
         margin-bottom: 2rem;
        background-color: $grey_3;      
        padding: 1rem;
        padding-left: 3rem;
    }


    .content {

        .field-name-field-association-texte {

            table {

                display: block;
                background-color: $lightgrey;
//               padding: 6rem;

                tbody {

                    display: block;
                    width: 100%;
                    padding-top: 2rem;

                    tr {

                        display: inline-block;
                        vertical-align: top;
                        padding: 0 2rem;
                        
                        width: 49%;
                        text-align: center;

                        &:nth-child(1){
                            width: 100%;
                             display: block;
                             //padding: 2rem 6rem;

                        }

                        &:nth-child(2){

                            img {
                                
                                display: inline-block;
                                width: 100% !important;
                                height: auto !important;

                            }

                        }

                        td {

                            display: inline-block;
                            text-align: center;
                            width: 100%;

                            &:nth-child(2){

                                display: block;

                            }

                            a {

                                display: block;
                                width: 100%;

                                img {

                                      width: 100% !important;
                                      height: auto !important;


                                }

                            }

                        }

                    }

                }

            }

        }

    }

    .read-more {


        @include btn_actu($green);

        clear: both;
        display: block;
        margin:0 auto;

        a {

            text-decoration: none;

        }

    }

    .bandeau-je-fais-don {

        img {

            width: 6rem;
            display: inline-block;
            vertical-align: middle;

        }

        .col-1 {

            display: inline-block;
            font-family: "PermanentMarker",sans-serif;
            color:$red;
            vertical-align: middle;

        }

        .don-btn {

            @include btn_generique($red);
            margin: 10px 0;
        }
    }

}


aside {

    background-color: $grey_3;
    text-align: center;
    img{
            width: 100% !important;
                                      height: auto !important;

    }

    .texte {

        text-align: left;
//        padding-left: 6rem;

        h3 {

//            padding: 0 2rem;
            color:$green;
            text-transform: uppercase;
            a{
                 color:$green;
                 font-weight: bold;
            }

        }

        .field-name-field-temoignage-accroche{
            text-transform: none;
            @include fz(1);
        }

        h4 {

            padding: 0 2rem;
            @include fz(2);

        }

    }

}
