#block-ilot-theme-newsletter {


    background-color: $grey_6;

    @include b(65%);
    padding-bottom: 2rem;
 
     
    text-align: center;

    h1 {

        margin-bottom: 20px !important;

    }

    .bloc-newsletter {

        margin-top: 2rem;

        img {
          
            width: 3em;
            position: absolute;
            left: 10%;

        }

    }

    .col-1 {

     
        text-align: center;
        margin: 0 auto;

       
         padding: 0rem 4rem;
        

    }

    .telephone {

        display: inline;

        p {
            display: inline;
        }

    }

   a {
    &:hover, &:link, &:active, &:visited {
        color: white;
        text-decoration: none;
        }
    }

    .newsletter-form {

        .newsletter-btn {

            margin-top: 0px !important;

            &.readmore {

//                @include grid-span(7,4);
                @include btn_actu($green);

                margin-left: 0%;
                clear: both;

                float: none;

                @include breakpoint($tablet) {
                    margin-right: 0%;
                 }

                a {

                    text-decoration: none;

                }
            }
        }

        .node__title {

            display: none;

        }

        .form-actions {

          margin-top: 0;
          margin-bottom: 0;

            input {

                max-width: 350px;
                text-align: center;

                background-color: transparent;
                border: none;
                text-transform: uppercase;

                padding: 0;

                &:hover {

                   color: white;

                }

            }

        }

        .webform-component-email {

            input {

                max-width: 350px;
                min-height: 35px;
                text-align: center;
                color: $green;

            }

        }

    }

}
