#block-ilot-theme-newsletter {

    padding: 20px 0px;
    min-height: 340px;
    background-color: $grey_6;

    width: 100%;

  @include breakpoint($laptop) {
        width: 50%;
        display: inline-block;
        margin-right: -4px;
     }

    text-align: center;

    h1 {

        margin-bottom: 20px !important;

    }

    .col-1 {

        width: 50%;
        text-align: center;
        margin: 0 auto;

        @include breakpoint($laptopl) {
            padding: 0 9rem;
        }

    }

    img{
        float: left;
    }

    .telephone {

        display: inline;

        p {
            display: inline;
        }

    }

   a {
    &:hover, &:link, &:active, &:visited {
        color: white;
        text-decoration: none;
        }
    }

    .newsletter-form {

        .newsletter-btn {

            margin-top: 0px !important;

            &.readmore {

                @include grid-span(7,4);

                @include breakpoint($mobilel) {
                    @include btn_actu($green);
                 }

                margin-left: 0%;
                clear: both;

                float: none;

                @include breakpoint($tablet) {
                    margin-right: 0%;
                 }

                a {

                    text-decoration: none;

                }
            }
        }

        .node__title {

            display: none;

        }

        .form-actions {

          margin-top: 0;
          margin-bottom: 0;

            input {

//                padding: 7.5px 0px;
                max-width: 350px;
//                min-height: 35px;
                text-align: center;

                background-color: transparent;
                border: none;
                text-transform: uppercase;

                &:hover {

                   color: white;

                }

            }

        }

        .webform-component-email {

            input {

                max-width: 350px;
                min-height: 35px;
                text-align: center;
                color: $green;

            }

        }

    }

    .don-confiance {

        height: 12rem;
        background-color: $lightgrey;

    }

}
