#block-ilot-theme-newsletter {

    padding-top: 14px;
    min-height: 340px;
    background-color: $lightgrey;

    width: 100%;

  @include breakpoint($laptop) {
        width: 50%;
     }

    text-align: center;

    img{
        width:1em;
        display: inline;
    }

    .telephone {

        display: inline;

        p {
            display: inline;
        }

    }

   a {
    &:hover, &:link, &:active, &:visited {
        color: white;
        text-decoration: none;
        }
    }

    .newsletter-form {

        .newsletter-btn {

            &.readmore {

                @include grid-span(7,4);

                @include breakpoint($mobilel) {
                    @include btn_actu($green);
                 }

                margin-left: 0%;
                clear: both;
                margin: 20px auto;

                float: none;

                @include breakpoint($tablet) {
                    margin-right: 0%;
                 }

                a {

                    text-decoration: none;

                }
            }
        }

        .node__title {

            display: none;

        }

        .form-actions {

          margin-top: 0;
          margin-bottom: 0;

            input {

                padding: 7.5px 0px;
                max-width: 350px;
                text-align: center;

                background-color: transparent;
                border: none;
                text-transform: uppercase;

                &:hover {

                   color: white;

                }

            }

        }

        .webform-component-email {

            input {

                max-width: 350px;

            }

        }

    }

}
