#block-ilot-theme-contact {

    padding: 20px 0px; 
    background-color: white;

    @include b(35%);
    @include p(0rem,0rem,2rem,0rem);


    @media #{$m-m} {
        border-top:3px solid $green;
    }
         
    text-align: center;

    h1 {

        margin-bottom: 20px !important;

    }

    img {

        width:1em;
        display: inline;

    }

//    .contact-text {
//
//        width: 60%;
//
//        @include breakpoint($laptop) {
//            width: 100%;
//        }
//
//    }

    .bloc-contact {

        margin-top: 2rem;

        table{

            width: 130px;
            text-align: center;
            margin: 0 auto;

            tr {

                vertical-align: middle;

                td {

                    vertical-align: middle;

                    p {

                        padding: 20px;

                    }

                }

                img {

//                    padding: 10px;

                }

            }

        }

    }

    .telephone {

        display: inline;

        p {
            display: inline;
        }

    }

   a {
    &:hover, &:link, &:active, &:visited {
        color: white;
        text-decoration: none;
        }
    }

    .contact-btn {

        &.readmore {

            @include btn_actu($green);

            margin-left: 0%;
            clear: both;
            margin: 20px auto;

            float: none;

            @include breakpoint($tablet) {
                margin-right: 0%;
             }

            a {

                text-decoration: none;

            }
        }
    }

    input {

        padding: 7.5px 0px;
        max-width: 350px;
        text-align: center;
        color: $green;

    }

    .contact-text {

        position: relative;

    }

    .contact-icone {

        width: 1em;
        bottom: 5%;
        position: absolute;
        left: 31%;

        @media #{$m-sd} {
            left: 25%;
        }

        @media #{$m-t} {
            left: 35%;
        }

        @media #{$m-m} {
            left: 10%;
        }

    }

    .contact-img {

        width: 3em;
        position: absolute;
        left: 17.5%;

        @media #{$m-sd} {
            left: 22.5%;
        }

        @media #{$m-t} {
            left: 12.5%;
        }

        @media #{$m-m} {
            left: 10%;
        }

    }

}
