#block-ilot-theme-contact {

    padding: 20px 0px; 
    background-color: white;

    @include b(34%);
         
    text-align: center;

    h1 {

        margin-bottom: 20px !important;

    }

    img {

        width:1em;
        display: inline;

    }

//    .contact-text {
//
//        width: 60%;
//
//        @include breakpoint($laptop) {
//            width: 100%;
//        }
//
//    }

    .bloc-contact {

        margin-top: 2rem;

    }

    .telephone {

        display: inline;

        p {
            display: inline;
        }

    }

   a {
    &:hover, &:link, &:active, &:visited {
        color: white;
        text-decoration: none;
        }
    }

    .contact-btn {

        &.readmore {

            @include btn_actu($green);

            margin-left: 0%;
            clear: both;
            margin: 20px auto;

            float: none;

            @include breakpoint($tablet) {
                margin-right: 0%;
             }

            a {

                text-decoration: none;

            }
        }
    }

    input {

        padding: 7.5px 0px;
        max-width: 350px;
        text-align: center;
        color: $green;

    }

    .contact-text {

        position: relative;

    }

    .contact-icone {

        width: 1em;
        bottom: 5%;
        position: absolute;
        left: 31%;

    }

    .contact-img {

        width: 3em;
        position: absolute;
        left: 10%;

    }
}
