.commerce-checkout-form-checkout {

    .calculator {

        .title {

//            margin:1rem 0;
            margin: 2rem 0 0.5rem 0;

        }

    }

}

#commerce-atos-redirect-form {

    text-align: center;
    margin: 3rem auto;

}
