
.field-name-field-accueil-edito {

    width : 200px;
//	height : 300px;
    max-height: 360px;
	background-color : $green;
	padding : 15px;
    color: white;
    padding: 1.5rem;
    box-sizing: border-box;

        h1 {

            margin-top: 0;
            margin-bottom: 20px

        }

        .field-name-field-edito-corps {

            max-height:  164px;
            overflow: auto;

            @include breakpoint($laptopl) {

                max-height:  190px;

            }

            @include breakpoint($laptopxcl) {

                max-height:  214px;

            }

            @include breakpoint($laptopxl) {

                max-height:  244px;

            }

        }

    }

.view-accueil-chiffres {

//    min-height: 360px;
    max-height: 360px;

}
