


.liste-temoignages-container,.gb{

    text-align: left;
    
    h1{
        color:$green;
        margin-top:0px;
        text-align: left;
    }
    
    @include b(31%);
    margin: 1rem;
    padding: 1.3rem;

    @media #{$m-t} {
        @include b(48%);
        margin: 0.5rem;
        padding: 1.3rem;
    }

    

    background-color: $grey_3;
    min-height: 27rem;

    &:nth-child(even){
        background-color: darken($grey_3,5%);
    }

    .pager{
        display: none;
    }
    

     .vignette {

          @include b(35%,top,20%);

            img {

                line-height: 0;

                width: 100%;
                height: auto;

            }

    }

    .texte {

         @include b(63%,top,75%);
         padding-bottom: 3rem;
         padding-left:1rem;
            h2{
                @include fz(3);
            }
         h3{
            @include fz(2);
            font-weight: bold;
            a{
                text-transform: uppercase;
            }
         }
         p{
             @include fz(1);
         }

         .auteur{
            display: none;
         }

    }
   .read-more{
        @include btn_actu($green_bt,100%);
        display: block;
        position: absolute;
        bottom: 0rem;
        left:0px;
        width: 100%;
    }
    article.node-temoignage{
        .read-more{
           
            @include btn_actu();
             margin-top:1rem;
             bottom: 0px;
             position: relative;
        }
    }
}
