

.gb{

    text-align: left;
    
    h1{
        color:$green;
        margin-top:0px;
        text-align: left;
    }
    
    @include b(31%);
    margin: 1rem;
    padding: 1.3rem;

    @media #{$m-t} {
        @include b(48%);
        margin: 0.5rem;
        padding: 1.3rem;
    }

    

    background-color: $grey_3;
    box-shadow: 0px 0rem 1rem 0px rgba($grey_3,0);
    min-height: 18rem;
    @include transition(all 0.5s ease-in-out);

    &:nth-child(even){

        background-color: lighten($grey_3,3%);
       
        
    }

    &:hover{
        background-color: #fff;
        box-shadow: 0px 0rem 3rem 0px rgba(darken($grey_3,20%),0.7);
    }

    .pager{
        display: none;
    }
    

     .vignette {

          @include b(35%,top,20%);

            img {

                line-height: 0;

                width: 100%;
                height: auto;

            }

    }

 .read-more{
        @include btn_actu($green_bt,100%);
        display: block;
        position: absolute;
        bottom: 0rem;
        left:0px;
        width: 100%;
    }

    .texte {

         @include b(63%,top,75%);
         padding-bottom: 3rem;
         padding-left:1rem;
         h2{
            @include fz(3);
         }
         h3{
            @include fz(2);
            font-weight: bold;
            a{
                text-transform: uppercase;
            }
         }
         p{
             @include fz(1);
         }

         .auteur{
            display: none;
         }

         .read-more{
           
            @include btn_actu();
             margin-top:1rem;
             bottom: 0px;
             position: relative;
        }

    }

    article.node-temoignage{
        .read-more{
           
            @include btn_actu();
             margin-top:1rem;
             bottom: 0px;
             position: relative;
        }
    }
}


.bloc{

   

    &.i-0{
        background-color: $green;
        color:white;
        @include b(48%);
        padding: 2rem;
    }
    &.i-1{
        
        @include b(48%);
         padding: 2rem;
        margin-left:3%;
    }

    margin-top: 3rem;

}