.node-type-accueil{
   @media #{$m-t-down} {
    #l-header {

       .bandeau-don{
          display: inline-block !important;

       }

       .vocation-mobile {
          display: block !important;
       }

       

          .logo-wrapper {

            img {
               width:8rem;
            }
     
          }
      } 
  }

   @media #{$m-m} {

     #l-header {

         @include jpg(home_mobile_bg ,50% 50%,cover);

     }

   }

}





#l-header {

 
 

       
        @include container(true);


    @media #{$m-d} {

        background-image: none;

    }

    .container-logo-bandeau-don {


        @include container(false);
        text-align: center;
//        padding-top: 2rem;
        width: 100%;

         @media #{$m-m} {

                padding: 0rem; 
               
             }

        &:hover{

            .bandeau-don{
                a{
                    img{      
                        @include animation(coeur 1s ease-in-out 12);
                    } 
                }  
            }     
        }

        .logo-wrapper{

            text-align: center;
            vertical-align: middle;
            padding:0.5rem;      
            display: inline-block;
//            width: 20%;
            width: 15%;
            margin-right: 3%;

            img {
                width:100%;
                max-width:12rem;
            }
                @include transform(scale(1));
                  

     @media #{$m-m} {
        width: 11rem;
        display: block;
        margin-left:-1rem;
        padding: 0rem;

     }

            @media #{$m-d} {

                 
              margin-right: 0%;
               @include transition(all 0.2s ease-in-out);

             &:hover{
                @include transform(scale(1.2));
              }

            }

        }


        .bandeau-don {

            font-family: 'GillSansMT', sans-serif;
//            font: 400 54.18px 'GillSansMtRegular' ;

            position: relative;
            display: inline-block;
            vertical-align: middle;

//            width: 65%;
            width: 75%;

            text-align: center;
            
            padding-left: 3rem;

            @include png(bg_don,0% 0%, auto);
            box-shadow: 0 7px 8px -2px rgba(black,0.5);
            @media #{$m-t-up} {
                 box-shadow: 0 7px 8px -2px $grey_5;
                 height: 5rem;
                 text-align: left;
            }

           

            @media #{$m-t-down} {
               
                padding: 1rem;
                width: 75%;
                text-align: center;
                display: none;
            }

             @media #{$m-m} {

                padding: 0rem; 
                width: 100%;          
                
             }


            .center-texte-don {

                width: 65%; 
                position: relative;
                display: inline-block;
                vertical-align: middle;
                padding: 0rem;   

                @media #{$m-t-down} {
                    width: 100%;
                    text-align: center;
                    padding: 1rem;
                   
                }
                @media #{$m-m} {

                    padding: 1rem;  
                    padding-top: 3rem;         
                
                }

                .text-bandeau-don {     

                    vertical-align: middle;
                    padding: 0;
                    letter-spacing: 0px;
                    width: 100%;
                    
//                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;

//                    text-align: left;
                    text-align: center;

                    display: inline-block;
                    position: relative;

                     @media #{$m-t-down} {
                        text-align: center;
                    }

                    span {

                        color: $red;
                        clear: both;
                        float: none;

                        @include fz(2);
                        font-size: 1.5rem;

                     
                    }

                    .premier {

                        color: $green;

                    }

                }

            }

            a {

                @media #{$m-d} {

                       vertical-align: middle;
                       font-family: "PermanentMarker",sans-serif;
                       // @include btn_don(#903139);
                       // width: 32%;
                       width: 15rem;

                       display: inline-block;

                       position: relative;
                       font-size: 1.5rem;
                       line-height: 2.2rem;
                       @include transform(scale(1.0001));

                       top: -0.5rem;
                       left: 2rem;

                       background-color: #903139;

                       color:white;
                       cursor:pointer;
                       @include transition(all 0.2s ease-in-out);
                       text-decoration: none;
                       text-transform: uppercase;
                       padding: 1rem;
                       // padding-top: 2rem;
                       background-image : url(../images/f_blanches/f_droite.svg);
                       background-size : 1.2rem;
                       background-position: 95% 50%;
                       background-repeat: no-repeat;

                       text-align: left;
                       height: 6rem;

                    }
                       
                        vertical-align: middle;
                        font-family: "PermanentMarker",sans-serif;

                        display: inline-block;

                        position: relative;
                        font-size: 2rem;
                        line-height: 2.2rem;
                        @include transform(scale(1.0001));

                        top: -0.5rem;

                        background-color: #903139;

                        color:white;
                        cursor:pointer;
                        @include transition(all 0.2s ease-in-out);
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 1rem;
                        padding-top: 2rem;

                        background-image : url(../images/f_blanches/f_bas.svg);
                        background-position: 50% 94%;
                        background-size : 3rem;
                        background-repeat: no-repeat;

                        width: 90%;
                        height: 100%;

//                        left:-1rem;
                        padding-bottom: 3rem;

                        text-align: center;

                        &:after{
                            width: 2rem;
                            height: 100%;
                            bottom:0rem;
                            left:100%;
                        }
 
                    .col-1 {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    img {
                        display: inline-block;
                        vertical-align: middle;                 
                        width:4rem;
                    }
                   

                  &:hover{
                    background-color: lighten($red,10%);

                  }

            }

        }

    }

    .vocation-mobile {

        //max-width: 323px;
        text-align: center;
        width: 80%;
        //height: 100%;
        background-color: $green;

        color: white;
        margin: 4rem auto;
        padding: 2rem;
     
        @media #{$m-t-up} {
            display: none;
        }

        @media #{$m-t-down} {
               
            display: none;
            background-color: #fff;
            color:$green;
            margin: 1rem auto;
            padding: 1rem;
        }

          @media #{$m-m} {
            display: none;
             padding: 1rem;
              color:white;
             width: 100%;
             background-color: $green;
        }




    }

}


