.container-logo-bandeau-don {

    text-align: center;
    padding-top: 6%;
    width: 100%;

    .logo-wrapper {

        @include grid-span(2,1);

        text-align: center;
        padding:0.5rem;

        margin: 0 auto;

        float: none;

        img {
            width:100%;
            max-width:12rem;
        }

        @include breakpoint($laptopxcl) {
            display: inline-block;
        }
    }

    .bandeau-don {

        clear: both;

        height: 100%;
        max-height: 80px;

        background-color: $lightgrey;

        display: inline-block;
        border:solid 1px $grey_4;
        box-shadow: 0 7px 8px -2px $grey_5;

        background-image : url(../images/banniere_coin.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: auto;

        position: relative;

        width: 90%;

        @include breakpoint($laptopl) {
            width: 72%;
        }

        .center-texte-don {

            margin: 0 auto;

            .text-bandeau-don {

                padding: 2rem 1rem;
                text-align: center;
                margin: 0 auto;
                display: inline-block;

                position: relative;

                span {

                    color: $red;
                    padding-left: 1rem;

                    font-size: 1rem;

                    @include breakpoint($laptop) {
                        font-size: 1.25rem;
                    }

                    @include breakpoint($laptopl) {
                        font-size: 1.5rem;
                    }

                }

                .premier {

                    color: $green;

                     font-size: 1rem;

                    @include breakpoint($laptop) {
                        font-size: 1.25rem;
                    }

                    @include breakpoint($laptopl) {
                        font-size: 1.5rem;
                    }

                }

            }

            a {

                font-family: "PermanentMarker",sans-serif;
                @include btn_don(#903139);
                min-width: 164px;
                display: inline-block;
                font-size: 1rem;

                line-height: 32px;

                @include breakpoint($laptop) {
                    font-size: 1.5rem;
                    min-width: 250px;
                }

                @include breakpoint($laptopl) {
                    font-size: 1.75rem;
                }

                .col-1 {

                    display: inline-block;

                }

                img {

                    display: inline-block;
                    width:4rem;

                }

            }

        }

    }

}
