#l-header {

    @include jpg(home_mobile_bg ,50% 50%,cover);

    @include breakpoint($laptop) {

        background-image: none;

    }

    .container-logo-bandeau-don {

        text-align: center;
        padding-top: 6%;
        width: 100%;

        .logo-wrapper {

            text-align: center;
            padding:0.5rem;
            margin: 0 auto;
            float: none;

            img {
                width:100%;
                max-width:12rem;
            }

            @include breakpoint($laptop) {
                @include grid-span(2,1);
            }

            @include breakpoint($laptopxcl) {
                display: inline-block;
            }
        }

        .bandeau-don {

            clear: both;

            background-color: $lightgrey;

            display: inline-block;
//            border:solid 1px $grey_4;
            box-shadow: 0 7px 8px -2px $grey_5;

            position: relative;

            max-width: 323px;
            height: 400px;

            margin-top: 4rem;

            @include breakpoint($laptopl) {
                width: 72%;
            }

            @include breakpoint($laptop) {
                max-width: 100%;
                max-height: 80px;
                height: 100%;
                width: 70%;
                padding-bottom: 1rem;
                margin-left: 5rem;
            }

            .center-texte-don {

                margin: 0 auto;

                .text-bandeau-don {

                    @include breakpoint($laptop) {
//                        padding: 2rem 1rem;
                        text-align: left;
                        width: 83%;
                        text-align: left;
                        vertical-align: middle;
                        padding: 0;
                    }

                    padding: 1.5rem 3em 1.5rem 3rem;

                    text-align: center;
                    margin: 0 auto;
                    display: inline-block;

                    position: relative;

                    span {

                        color: $red;

                        float: none;

                        @include fz(5.5);

                        @include breakpoint($laptop) {
                            @include fz(2);
//                            padding-left: 1rem;
                        }

                        @include breakpoint($laptopl) {
                            @include fz(3);
                        }

                        @include breakpoint($laptopxcl) {
                            @include fz(4);
                        }

                    }

                    .premier {

                        color: $green;

                    }

                }

            }

            a {

                    font-family: "PermanentMarker",sans-serif;
                    @include btn_don(#903139);

                    width: 100%;
                    height: 30%;

                    display: inline-block;

                    position: absolute;
                    font-size: 2.5rem;
                    line-height: 2.5rem;

                    left: 50%;
                    @include translate(-50%, 0%);

                    @include breakpoint($laptop) {
                        @include fz(2);
                        min-height: 100%;
                        min-width: 164px;
                        right: 0%;
                        top:50%;
                        right: 0%;
                        left: inherit;
                        @include translate(0%, calc(-50% - 17.5px));
                        display: inherit;
                        width: 28%;
                        height: 31%;
                        z-index: 10;
                    }

                    @include breakpoint($laptopl) {
                        font-size: 1.75rem;
                    }

                    .col-1 {
                        display: inline-block;
                    }

                    img {
                        display: inline-block;
                        width:5rem;

                        @include breakpoint($laptop) {
                             width:4rem;
                        }
                    }
                }

            &:before {

                content: "";
                position: absolute;
                top: -2em;
                left: 0;
                border-width: 0em 0em 2em 2em;
                border-style: solid;
                border-color: rgb(179,180,181) transparent;

            }

            &:after {

                content: "";
                position: absolute;
                top: -2em;
                left: 0;
                left: 2em;
                border-width: 1em;
                border-style: solid;
                border-color: $lightgrey;
                width: 76.5%;

            }

        }

    }

    .vocation-mobile {

        max-width: 323px;
        height: 100%;
        background-color: $green;
        color: white;
        margin: 4rem auto;
        padding: 2.5rem;
        box-sizing: border-box;

        @include breakpoint($laptop) {
             display: none;
        }

    }

}
