.bloc-texte {

    width: 400px;
     height: 123px;
    position: absolute;

//    left: 50%;
//    top:50%;
    right: 5%;
    top: 10%;
//    @include translate(-50%, -50%);

}

.container-page{
	@include container(false);
	
}

.field-name-field-accueil-edito{

    display: none;

    @include breakpoint($laptop) {

        display: block;

    }

}


.node-accueil {
 .field-name-field-accueil-edito {
	width: 30%;
	padding: 3rem;
    background-color : $green;
    color: white;

	
	p{
		@include fz(3);
	}
 }

}