.bloc-texte {

    width: 400px;
     height: 123px;
    position: absolute;

//    left: 50%;
//    top:50%;
    right: 5%;
    top: 10%;
//    @include translate(-50%, -50%);

}

.field-name-field-accueil-edito{

    display: none;

    @include breakpoint($laptopl) {

        display: block;

    }

}
