

.node-accueil {

 .field-name-field-accueil-edito {
	width: 30%;
	padding: 3rem;
    background-color : $green;
    color: white;
    position: absolute;
    z-index: 10;
    height: 100%;
    display: block;
    @media #{$m-m} {
        display: none;
    }

	
	p{
		@include fz(2);
	}
 }

 .view-accueil-chiffres{
    width: 100%;
    padding-left: 30%;

    @media #{$m-m} {
            
        padding-left: 0%;

    }

    .field-name-field-chiffres-clefs-accroche{
         @include fz(2);
    }

    .swiper-container{
        ul{
            list-style: none;
            font-size: 0px;
            padding: 0rem;
            li{
                @include fz(2);

                overflow: hidden;

                img{
                    max-width: 200%;
                    height: auto !important;
                    width: 120%;
                    position: relative;
                    left:-10%;
                    @media #{$m-m} {
                        width: 200%;
                        left:-50%;
                    }
                }

            }
        }
    }
 }

}

.container-slider{
    display: block;
    position: relative;
    height: 22rem;

      @media #{$m-m} {
             height: 20rem;
        }

    .bloc-texte {

        @include ba(30%,50%);
        height: auto;
        left: 65%;
        top: 2rem;

       

        @media #{$m-m} {
             left: 25%;
            top: 45%;
        }

        .chiffres-clefs{
            @include fz(4);
            background-color: $grey;
            font-family: "PermanentMarker",sans-serif;
        }
        .field-name-field-chiffres-clefs-accroche{
           background-color: $grey_1;
        }


    }

    .view-accueil-chiffres *:not(.bloc-texte){
        height: 100%;       
    }

    .field-name-field-chiffres-clefs-accroche,.chiffres-clefs{
        padding: 1rem;
        width: 100%;
        display: block;
        position: relative;
        color:white;
        text-align: center;
    }

    .view-accueil-chiffres{
        height: 100%;

        .bloc-texte *{

            height: auto !important;
                 
        }
    }
    
}


