.imagetitle {

    width:100%;
    position: relative;
    text-align: center;

    .image{
        width:100%;
        text-align: center;

    }
    .title {
        width:100%;
        @include translate(0%,-50%);
        position:absolute;
        font-family: "PermanentMarker";
        color: #ffffff;
        text-align: center;
        font-size: 7.5vw;

        @include breakpoint($laptopl) {
            font-size: 115px;
        }

        top: 50%;
        left: 0%;

    }

}
