.imagetitle {

    width:100%;
    position: relative;
    text-align: center;

    .image{
        width:100%;
        text-align: center;

    }
    .title {
        width:90%;

        position:absolute;
        font-family: "PermanentMarker";
        color: #ffffff;
        text-align: center;
        font-size: 5.5vw;
        line-height: 7rem;

        @include breakpoint($laptopl) {
            font-size: 85px;
        }

        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);

    }

}
