#block-menu-block-custom-1 {

    .menu {
        $h: 100px;
        height: $h;
        @include grid-span(12,0);
        margin-left: 0;

        li {
            transition:all 0ms;
            text-transform: uppercase;
//            display: inline-block;
            line-height: $h;
            font-size: 1rem;
//            margin: 0 0.4rem;

            padding: 1rem 1rem;

            a {
                transition:all 400ms;
                 padding-bottom: 1rem;
//                 border-bottom: 3px solid white;
                &:hover,
                &.active{
                    border-bottom: 3px solid $green;
                }
                text-decoration: none;
            }


            @include breakpoint($laptop) {
                font-size: 1.2rem;
//                margin: 0 0.8rem;
            }

            @include breakpoint($laptopl) {
                font-size: 1.4rem;
//                margin: 0 1.2rem;
            }
        }

        li.expanded {

                position: relative;

                .menu {
                    font-size:0.5rem;
                    z-index: 10;
                    margin-left: 0;

                    width: 150.84746%;
                    float: left;
                    margin-right: -100%;
                    margin-left: 0;

                    left: 50%;
                    -webkit-transform: translate(-50%,0);
                    -ms-transform: translate(-50%,0);
                    transform: translate(-50%,0);
                    z-index: 10;

                li {

                    font-size: 0.7rem;
                    line-height: 40px;

                    @include breakpoint($laptop) {
                        font-size: 0.9rem;
                        margin: 0;
                        line-height: 60px;
                    }

                    @include breakpoint($laptopl) {
                        font-size: 1.1rem;
                        margin: 0;
                        line-height: 70px;
                    }

                    &:hover,
                    &.active {
                        background-color:$green;
                    }

                    a {
                        &:hover,
                        &.active {
                            border-bottom:none !important;
                        }
                        text-decoration: none;
                    }

                    &.active-trail {
                        background-color: $green;
                    }
                }

                &:before {

                    content:"";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 16px 28px 16px;

                    @include breakpoint($laptop) {
                        border-width: 0 32px 56px 32px;
                    }

                    @include breakpoint($laptopl) {
                        border-width: 0 39px 78px 39px;
                    }

                    border-color: transparent transparent $grey transparent;
                    z-index: 10000;
                    position: absolute;

                    margin-top: -20px;
                    margin-left: auto;
                    margin-right: auto;
                    right: 0;
                    left:0;

                    @include breakpoint($laptop) {
                        margin-top: -21px;
                    }

                    @include breakpoint($laptopl) {
                        margin-top: -24px;
                    }

                }

            }

        }

    }

}
