.mosaique-new {

    text-align: left;

    @include b(20vw);
//    width: 26rem;
    //@include m(5%,0rem,0rem,5%);
    margin-top: 11rem;
    margin-left: 3%;

    @media #{$m-m} {
        margin-left:0px;
        margin-top:2rem;
    }
 

    .bloc {

        height:10vw;
//        height: 13rem;

        @include b(10vw,top,50%);

         @media #{$m-m} {
        height: 10rem;
    }

       
        &.dernier-projet {
            background-color: $green;
            .arrow {
                border-top: 50px solid $green;
            }
        }

        &.son-temoignage {
            background-color: $darkgrey;
            .arrow {
                border-top: 50px solid $darkgrey;
            }
        }

        &.espace-presse{
            background-color: $lightgrey;
            .mosaique-text {
                color: black;
            }
            .arrow {
                border-top: 50px solid $lightgrey;
            }
        }

        &.ilot-medias {
            background-color: $darkgrey;
            .arrow {
                border-top: 50px solid $darkgrey;
            }
        }

        &.bloc-img {

            overflow: hidden;
             &:after{
                @include fx-mix($green);
             }
        }

        &:hover{

            &.bloc-img {
                 &:after{
                    @include opacity(1);
                 }
            }
        }

        img {
           min-width: 100%;
           min-height: 100%;
           max-width: inherit;
        }

        .mosaique-text {
            font-family: "SourceSansProLight";
            text-transform: uppercase;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            @include translate(-50%, -50%);
            text-align: center;
            @include fz(3);
            @media #{$m-t-down} {
                @include fz(2);
            }
        }
    }

    .west {
        height: 0;
        width: 0;
        border-top: 50px solid black;
        border-right: 50px solid transparent;
        position: absolute;

        top:50%;
        left: -1rem;
        -moz-transform : translate(0%,-50%) rotate(-45deg);
        -webkit-transform : translate(0%,-50%) rotate(-45deg);
        transform : translate(0%,-50%) rotate(-45deg);

        z-index: 10;
    }

    .east {
        height: 0;
        width: 0;
        border-top: 50px solid black;
        border-right: 50px solid transparent;
        position: absolute;
        margin-left: -50px;

        top:50%;
        right: -1rem;
        -moz-transform : translate(0%,-50%) rotate(135deg);
        -webkit-transform : translate(0%,-50%) rotate(135deg);
        transform : translate(0%,-50%) rotate(135deg);

        z-index: 10;
    }


    .don-confiance {

        height: auto;
        background-color: $lightgrey;
        font-size: 1.5rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        font-family: 'PermanentMarker', sans-serif;
        color: $red;
        position: relative;

        .bloc-absolute {
            .read-more {
                @include btn_actu($green);
                &:hover {
                    background-color: $red;
                    border: 2px solid $red;
                }

                font-family: "SourceSansProRegular", sans-serif;
                text-transform: uppercase;
                padding: 10px 0px;

                margin-left: 0%;
                clear: both;
                margin-bottom: 20px;
                margin-top: 40px;

                display: block;
                margin-left: auto;
                margin-right: auto;

            
                a {

                    text-decoration: none;

                }

            }

        }

    }

    .don-confiance-text {
        display: inline-block;
        vertical-align: middle;
        width: 42%;
    }

    .don-confiance-img-container {
        display: inline-block;
        vertical-align: middle;
//        width: 5em;
        width: 4rem;
    }

//    .mosaique_link {
//
//        display: inline-block;
//        width: 10vw;
//        vertical-align: top;
//        position: relative;
//        margin: 0rem;
//        padding: 0rem;
//        border: none;
////        width: 170px;
////        height: 170px;
//
//    }

}
