
@import "../variables/var";



.node-liste-projets {


    .actus {

            padding: 0;
            position: relative;

            margin-bottom:2rem;

            border-bottom: 3px solid $green;
            text-align:left;

    }

    .vignette {

          @include b(25%,top,20%);

            img {

                line-height: 0;

                width: 100%;
                height: auto;

            }

    }

    .texte {

         @include b(73%,top,75%);
         padding-bottom: 4rem;
         padding-left:2rem;
            h2{
                @include fz(4);
            }
         h3{
            @include fz(3);
            a{
                text-transform: uppercase;
            }
         }

         .auteur{
            display: none;
         }

    }

    .corps{
        text-align:left;

    }

    .readmore{
        @include btn_actu();
        position: absolute;
        right: 0px;
        bottom: 0.3rem;
    }

    .nav-next-prev{

        .readmore{

             @include btn_actu();
             max-width: 14rem !important;

             &.prev{
                left: 0px;
             }

             &.next{
                right: 0px;
             }

        }
    }


}
