
@import "../variables/var";



.node-liste-projets, [class*="section-temoignages"]  {


    .actus,.node-temoignage {

            padding: 0;
            position: relative;

            margin-bottom:2rem;

            border-bottom: 3px solid $green;
            text-align:left;

    }

    .vignette {

          @include b(25%,top,20%);

            img {

                line-height: 0;

                width: 100%;
                height: auto;

            }

    }

    .texte {

         @include b(73%,top,75%);
         padding-bottom: 4rem;
         padding-left:2rem;
            h2{
                @include fz(4);
            }
         h3{
            @include fz(3);
            a{
                text-transform: uppercase;
            }
         }

         .auteur{
            display: none;
         }

    }

    .corps{
        text-align:left;

    }

    .read-more{
        @include btn_actu();
        position: absolute;
        right: 0px;
        bottom: 0.3rem;
    }

    .nav-next-prev{

        .read-more{

             @include btn_actu();
             max-width: 14rem !important;

             &.prev{
                left: 0px;
             }

             &.next{
                right: 0px;
             }

        }
    }


}

.image-accroche{
    @include b(48%,middle);
    margin-top:2rem;
    margin-left:3%;
    img{
        width: 100%;
    }
}

.container-accroche{
    @include b(48%,middle);
        background-color: $green;
       @include fz(3);
       color:white;
     
    padding:2rem;
    margin-left:-3%;
}

.b-gris{
    background-color: $grey_2;
    padding:2rem;
    margin-top:1rem;
    margin-bottom: 1rem;
}

.contact{
 @include b(48%,middle);

}



.nav-next-prev{
    margin-top:3rem;
    .read-more{
        @include btn_actu($green);
    }

    .prev{
        float: left;
    }
    .next{
        float: right;
    }
}