@import "singularitygs";
@import "breakpoint";
@import "../variables/var";

.node-projets {

    overflow: hidden;
    height: 100%;

    .vignette {

        @include grid-span(3,1);
        line-height:0;

            img {

//                @include breakpoint($mobilel) {
//                 }
//
//                @include breakpoint($tablet) {
//                 }
//
//                @include breakpoint($laptopl) {
//                 }

                height: 100%;

            }
    }

    .texte {

        @include grid-span(6,4);
        margin-left:29%;

        @include breakpoint($mobilel) {
            margin-left:31%;
         }

        @include breakpoint($tablet) {
            margin-left:32%;
         }

        @include breakpoint($laptop) {
            margin-left:30%;
         }

        @include breakpoint($laptopl) {
            margin-left:25%;
         }

        .text-detail {

            display: none;

            @include breakpoint($mobilel) {
                display: block;
             }

        }

        p {

            text-align: left !important;

        }

    }

    .readmore {

            @include grid-span(7,4);

            @include breakpoint($mobilel) {
                @include btn_actu($green);
             }

            margin-left: 0%;
            clear: both;
            margin-bottom: 20px;
            margin-top: 20px;

            @include breakpoint($tablet) {
                margin-right: 0%;
                float: right;
             }

            a {

                text-decoration: none;

            }

        }

    &.bloc-grille-base {

        padding: 0;
        margin: 5vw 5vw 0px 8vw;

        @include breakpoint($laptopl) {
            padding: 0;
            margin: 60px 60px 0px 100px;
        }

    }

}
