.l-off {

    .region-navigation {
            min-height: 3rem;
        .block {
            width: 100%;
        }

        form {
            margin: 3rem auto;
            text-align: center;
            width: 100%;

            .form-item {
                float: none;
                display: inline-block;
                width: inherit;
            }

            .form-submit {
                text-align: center;
                display: inline-block;
                vertical-align: top;
                float: none;
                width: 32px;
                height: 32px;
                margin-left: -3px;
            }
        }
    }

    #block-ilot-theme-social-share {

        display: none;

    }

}
