article.node-valeur {

    p {

        margin: 1rem 0;

    }

    em {

        font-style: italic;
        color: rgb(163,164,165);
        float: right;

    }

    p {

        clear: both;

    }

    img {

        margin-right: 6px;
        margin-left: 6px;
        vertical-align: text-top;

    }

}

aside.view-mode-full.node-valeur {

    background-color: $lightgrey;
    text-transform: uppercase;
    text-align: center;

    @include breakpoint($laptop){

        width: 20%;

    }

    width: 100%;

    .texte {

        text-align: left;

        h4 {

            padding: 0 2rem;

        }

    }

    .read-more {


        @include btn_generique($green);

        clear: both;
        display: block;
        margin:0 auto;

        a {

            text-decoration: none;

        }

    }

    .bandeau-je-fais-don {

        img {

            width: 6rem;
            display: inline-block;
            vertical-align: middle;

        }

        .col-1 {

            display: inline-block;
            font-family: "PermanentMarker",sans-serif;
            color:$red;
            vertical-align: middle;

        }

        .don-btn {

            @include btn_generique($red);
            margin: 10px 0;
        }
    }
}
