.node-accueil .field-name-field-accueil-edito
{
	width : 230px;
	height : 330px;
	float : left;
	position: relative;
}
.node-accueil .field-name-field-accueil-edito .signature {
  position: absolute;
	bottom: 10px;
	right: 10px;
}
.node-accueil .field-name-field-accueil-edito .field-name-field-edito-corps {
  height: 204px;
	overflow: auto;
}
.view-accueil-chiffres
{
	width : 81.8%;
	overflow : hidden;
}
.view-accueil-chiffres .views-slideshow-controls-bottom .views-slideshow-controls-text-pause
{
  display : none;
}

.view-accueil-chiffres .view-content .skin-default
{
	position : relative;
}

.view-accueil-chiffres .views-slideshow-controls-text-previous,
.view-accueil-chiffres .views-slideshow-controls-text-next
{
  display : inline-block;
  position : absolute;
  text-indent : -999em;
  height : 56px;
  width : 30px;
  background : url('/sites/all/themes/ilot/images/fleche3.png') no-repeat center center #293036;
  top : 132px;
  z-index : 999;
}

.view-accueil-chiffres .views-slideshow-controls-text-next
{
  background : url('/sites/all/themes/ilot/images/fleche2.png') no-repeat center center #293036;
  right : 0;
}

/*
section.actualites
{   width : 550px;
	margin-top : 25px;
	float : left;
}

.view-accueil-actu .node-actualites.view-mode-teaser
{
	width : 575px;
}
.view-accueil-actu .node-actualites.view-mode-teaser .texte
{
	width : 295px;
}

.view-accueil-actu .node-actualites.view-mode-teaser .jour
{
  margin : 0 0 5px -3px;
}

.view-accueil-actu .node-actualites.view-mode-teaser .date-actualite
{
  padding : 0 0 0 10px;
  width: 36px;
}

.node-accueil section.actualites a.read-more.actu
{
	font-family : 'StaticRegular', sans-serif;
  font-size : 14px;
  background : url('../../images/fleche_more.png') no-repeat center right #293036;
  color : #ffffff;
  text-decoration : none;
  border-bottom : 0px solid #28bca4;
  padding : 0 35px 0 10px;
  float : right;
  -webkit-transition:all 0.05s ease;
     -moz-transition:all 0.05s ease;
       -o-transition:all 0.05s ease;
          transition:all 0.05s ease;
}
*/

.node-accueil section.actualites a.read-more.actu:hover
{
  border-bottom : 3px solid #28bca4;
}

.node-accueil section.mosaique
{
	width : 340px;
	height : 680px;
	float : right;
	position : relative;
	margin-top : 20px;
}
html.js .view-mosaique-accueil-projet > .contextual-links-wrapper ,
html.js .view-mosaique-accueil > .contextual-links-wrapper {
  display: none;
}
.node-accueil .view-mosaique-accueil .views-row-first > .node,
.node-accueil .view-mosaique-accueil .views-row-last > .node
{
	color : #28bca4;
	background-color : #f4f4f4;
}
.node-accueil .view-mosaique-accueil .views-row
{
  width: 170px;
}
.node-accueil .view-mosaique-accueil .views-row-last
{
  float : right;
}

.node-accueil .view-mosaique-accueil-projet .views-row-first
{
	position : absolute;
	left : 170px;
	color : #ffffff;
}

.node-accueil .view-mosaique-accueil-projet .views-row-last
{
  position : absolute;
  top : 340px;
}

.node-accueil .view-mosaique-accueil-projet
{
	position : absolute;
	top : 0;
}

.node-accueil .mosaique .faire-un-don
{
    background: url("/sites/all/themes/ilot/images/don-image.png") no-repeat scroll 20px center #293036;
    color: #FFFFFF;
    display: inline-block;
    position : absolute ;
    bottom : 0;
    right : 0;
    font-family: 'StaticBold',sans-serif;
    font-size: 25px;
    height: 80px;
    padding: 60px 10px 30px 80px;
    text-decoration: none;
    text-transform: uppercase;
    width: 80px;
}
