.node-valeur.view-mode-full,
.node-liste-rapport-activite.view-mode-full
{
	width : 750px;
}
article.node-mission
{
  float: left;
  margin-left: 30px;
  width: 630px;

}
aside.node-mission {
  float: left;
  margin-left: 70px;
  width: 195px;
}
/*
aside.node-mission h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'NeouBold',sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  font-size: 18px;
}
aside.node-mission h4 {
  font-family : 'Anaheim', sans-serif;
  text-transform: uppercase;
  font-size : 18px;
  line-height : 17px;
  margin : 0;
  font-weight : normal;
}
*/
aside .field-collection-item-field-missions-blocs {
	margin-bottom: 30px;
}
.node-association.view-mode-full {
  float: left;
/*  width: 630px;*/
  margin-left: 35px;
}
aside.node-association.view-mode-full {
  float: left;
  margin-left: 70px;
/*  width: 210px;*/
}
/*
aside.node-association.view-mode-full h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'NeouBold',sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 25px;
}
aside.node-association.view-mode-full h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'NeouBold',sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  font-size: 19px;
}
*/
/*
aside.node-association.view-mode-full h4 {
  font-family : 'Anaheim', sans-serif;
  text-transform: uppercase;
  font-size : 19px;
  line-height : 17px;
  margin : 0;
  font-weight : normal;
}
*/
aside.node-association.view-mode-full .texte {
	margin-bottom:40px;
    margin-top:10px;
}
aside.node-association.view-mode-full .read-more {
	
/*  border-bottom : 3px solid #FFF;*/
	display: block;
/*
  float: left;
  height: 20px;
  line-height: 21px;
*/
  margin-top: 10px;
}
/*
.node-association.view-mode-full h1,
.node-valeur.view-mode-full h1,
.node-liste-partenaire.view-mode-full h1,
.node-partenaire.view-mode-teaser h1,
.node-rapport-activite.view-mode-full h1,
.node-rapport-activite.view-mode-full a,
.node-liste-rapport-activite.view-mode-full h1,
.node-mission.view-mode-full h1
{
  font-family : 'NeouBold', sans-serif;
  font-size : 25px;
  margin : 0;
  font-weight : normal;
}
*/

/*
.node-association.view-mode-full h2,
.node-valeur.view-mode-full h2,
.node-liste-partenaire.view-mode-full h2,
.node-partenaire.view-mode-teaser h2,
.node-rapport-activite.view-mode-full h2,
.node-rapport-activite.view-mode-full span,
.node-liste-rapport-activite.view-mode-full h2,
.node-mission.view-mode-full h2
{
  font-family : 'Anaheim', sans-serif;
  text-transform: uppercase;
  font-size : 25px;
  line-height : 17px;
  margin : 0;
  font-weight : normal;
}
*/

.node-association.view-mode-full h2:after,
.node-valeur.view-mode-full h2:after,
.node-liste-partenaire.view-mode-full > h2:after,
.node-rapport-activite.view-mode-full h2:after,
.node-liste-rapport-activite.view-mode-full h2:after,
.node-mission.view-mode-full h2:after
{
  content : '';
  display : inline-block;
  width : 12px;
  height : 10px;
  background : url('/sites/all/themes/ilot/images/triangle.png') no-repeat;
}

/*
.node-association.view-mode-full .field-name-field-association-texte,
.node-valeur.view-mode-full .field-name-field-valeur-texte,
.node-mission.view-mode-full .field-name-field-mission-texte
{
	font-family : 'Gill Sans', sans-serif;
	font-size : 16px;
	line-height : 20px;
}
*/
.node ul li {
	line-height: 23px;
}
.node-association.view-mode-full .field-name-field-association-contenu .field-items .field-item,
.node-valeur.view-mode-full .field-name-field-valeur-valeurs .field-items .field-item,
.node-mission.view-mode-full .field-name-field-mission-missions .field-items .field-item
{
  margin-bottom : 20px;
}

/*
.node-association.view-mode-full .field-name-field-association-contenu ul,
.node-valeur.view-mode-full .field-name-field-valeur-contenu ul,
.node-mission.view-mode-full .field-name-field-mission-contenu ul
{
	color : #28bca4;
}
*/

.node-association.view-mode-full .field-name-field-association-contenu .standard ul
{
  color: black;
}
.node-association.view-mode-full .field-name-field-association-contenu .content.vert
{
  background-color : #00a886;
  color : #ffffff;
  padding : 20px;
}

/*
.node-association.view-mode-full .field-name-field-association-contenu .content.vert ul
{
  list-style-image : url('../../images/fleche_list_blanc.png');
  color : #ffffff;
}
*/

.node-association.view-mode-full .field-name-field-association-contenu .content.gris
{
  background-color : #f4f4f4;
  padding : 20px;
}
.node-association.view-mode-full .field-collection-item-field-association-contenu {
  position: relative;
}
.node-association.view-mode-full .field-collection-item-field-association-contenu > img {
	position: absolute;
  right: 10px;
  top: -14px;
}
/*
.node-association.view-mode-full .field-name-field-association-phrase-1,
.node-association.view-mode-full .field-name-field-association-phrase-2,
.node-association.view-mode-full .field-name-field-association-phrase-bouton
{
	font-family : 'StaticBold', sans-serif;
	text-transform : uppercase;
	font-size : 28px;
	color : #28bca4;
	line-height : 31px;
}
*/

.node-association.view-mode-full .field-name-field-association-phrase-2
{
  color : #000000;
  margin-bottom : 30px;
}

/*
.node-association.view-mode-full .don span
{
	display : inline-block;
	height : 50px;
	width : 300px;
	background-color : #28bca4;
	float : left;
	color : #ffffff;
	font-family : 'StaticBold', sans-serif;
	font-size : 25px;
	text-transform : uppercase;
  padding : 15px;
}
*/

/*
.node-association.view-mode-full .don .don-btn
{
    background: url("/sites/all/themes/ilot/images/don-image.png") no-repeat scroll 20px center #293036;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'StaticBold',sans-serif;
    font-size: 25px;
    height: 32px;
    padding: 18px 20px 30px 80px;
    text-decoration: none;
    text-transform: uppercase;
    width: 90px;
}
*/

/*
.node-liste-partenaire.view-mode-full h1,
.node-partenaire.view-mode-teaser h2,
.node-rapport-activite.view-mode-full h1,
.node-liste-rapport-activite.view-mode-full h1,
.node-rapport-activite.view-mode-full h2,
.node-liste-rapport-activite.view-mode-full h2,
.node-liste-partenaire.view-mode-full h2,
.node-partenaire.view-mode-teaser h3
{
	font-size : 25px;
	line-height : 23px;
}
*/
/*
.node-partenaire.view-mode-teaser h2
{
  font-family : 'NeouBold', sans-serif;
  font-size : 20px;
  margin : 0;
  font-weight : normal;
}
*/
/*
.node-partenaire.view-mode-teaser h3
{
  font-family : 'Anaheim', sans-serif;
  text-transform: uppercase;
  font-size : 20px;
  line-height : 17px;
  margin : 0;
  font-weight : normal;
}
*/
.node-liste-partenaire.view-mode-full ul.block-filters,
.node-liste-partenaire.view-mode-full ul.block-filters li {
	list-style: none;
	padding-left: 0;
}
.node-liste-partenaire.view-mode-full ul.block-filters li {
	float: left;
	margin-right: 100px;
}
.node-liste-partenaire.view-mode-full ul.block-filters li:last-child {
  margin-right: 0;
}
.node-liste-partenaire.view-mode-full ul.block-filters li a:hover,
.node-liste-partenaire.view-mode-full ul.block-filters li a.active-sort,
.node-liste-partenaire.view-mode-full ul.block-filters li a:active {
	 border-bottom: 3px solid #28bca4;
}

/*
.node-liste-partenaire.view-mode-full ul.block-filters li a
{
	display: block;
  font-family : 'NeouBold', sans-serif;
  font-size : 22px;
  margin : 0;
  font-weight : normal;
  text-decoration:none;
  text-transform: uppercase;
  padding-bottom:10px;
  border-bottom: 3px solid transparent;
  transition: all 0.5s;
}
*/
/*
.node-liste-partenaire.view-mode-full ul.block-filters li a span
{
  font-family : 'Anaheim', sans-serif;
  text-transform: uppercase;
  font-size : 22px;
  line-height : 17px;
  margin : 0;
  font-weight : normal;
  display:block;
}
*/
.node-liste-partenaire.view-mode-full .view-liste-partenaire {
	margin-top:25px;
}
.views-row-even .node-partenaire.view-mode-teaser {
	padding: 0;
}
.node-partenaire.view-mode-teaser
{
	float: left;
  margin-top: 50px;
  padding: 0 80px 0 0;
  width: 420px;
}
/*
.node-rapport-activite.view-mode-full .field-name-field-rapport-activite-texte
{
  font-family : 'Gill Sans', sans-serif;
  font-size : 18px;
}
*/

/*
.node-partenaire.view-mode-teaser a
{
	font-family : 'Gill Sans', sans-serif;
	font-size : 18px;
	color : #28bca4;
	text-decoration : none;
}
*/

.node-rapport-activite.view-mode-full a
{
	color : #000000;
	text-decoration : none;
	padding-top : 30px;
	display : block;
	height : 65px;
	padding-left : 60px;
	background : url('/sites/all/themes/ilot/images/pdf-ico.png') no-repeat left transparent;
  z-index : 10;
  position : relative;
}

.node-rapport-activite.view-mode-full span
{
	position : relative;
	display : block;
	margin-top : -38px;
	padding-left : 62px;
	z-index :0;
}

.node-rapport-activite.view-mode-full
{
	margin-top : 40px;
	padding-bottom : 40px;
	border-bottom : 1px #28bca4 solid;
	width : 750px;
}

.node-rapport-activite.view-mode-full .field-name-field-rapport-activite-texte
{
	margin : 20px 0;
}

.node-liste-rapport-activite.view-mode-full .activite-title
{
	margin-bottom : 80px;
}
