



article.node-chiffres-clefs.view-mode-full h1,
article.node-chiffres-clefs.view-mode-short_teaser h1
{
  font-family : 'NeouBold', sans-serif;
  font-size : 40px;
  font-weight : normal;
  margin : 0;
  line-height : 35px;
}



article.node-chiffres-clefs.view-mode-full h2,
article.node-chiffres-clefs.view-mode-short_teaser h2
{
	margin : 0;
  font-family : 'Anaheim', sans-serif;
  text-transform: uppercase;
  font-size : 25px;
  font-weight : normal;
  line-height : 20px;
}

article.node-chiffres-clefs.view-mode-full h2:after,
article.node-chiffres-clefs.view-mode-short_teaser h2:after
{
  content : '';
  display : inline-block;
/*  width : 12px;*/
/*  height : 10px;*/
  background : url('/sites/all/themes/ilot/images/triangle.png') no-repeat;
}

article.node-chiffres-clefs.view-mode-full .field-name-field-chiffres-clefs-accroche
{
	font-family : 'AvenirLTStd85Heavy', sans-serif;
	font-size : 16px;
	margin : 20px 0;
}

article.node-chiffres-clefs.view-mode-full .field-name-field-chiffres-clefs-descriptif
{
  font-family : 'Gill Sans', sans-serif;
  font-size : 16px;
}

article.node-chiffres-clefs.view-mode-short_teaser
{
/*	width : 750px;*/
	border-bottom : 1px solid #28bca4;
}

article.node-chiffres-clefs.view-mode-short_teaser .vignette
{
	float : left;
/*	width : 205px;*/
/*	height: 190px;*/
	margin-right : 20px;
}

article.node-chiffres-clefs.view-mode-short_teaser .field-name-field-chiffres-clefs-accroche
{
	font-family : 'Gill Sans', sans-serif;
	font-weight: bold;
	margin : 20px 0;
}

article.node-chiffres-clefs.view-mode-short_teaser a.read-more
{
/*  font-family : 'StaticRegular', sans-serif;*/
  font-family: "PermanentMarker",sans-serif;
/*  font-size : 14px;*/
  background : url('/sites/all/themes/ilot/images/fleche_more.png') no-repeat center right #293036;
  color : #ffffff;
  text-decoration : none;
  border-bottom : 0px solid #28bca4;
  padding : 3px 35px 3px 10px;
  -webkit-transition:all 0.2s ease;
     -moz-transition:all 0.2s ease;
       -o-transition:all 0.2s ease;
          transition:all 0.2s ease;
}

article.node-chiffres-clefs.view-mode-short_teaser a.read-more:hover
{
  border-bottom : 3px solid #28bca4;
   -webkit-transition:all 0.2s ease;
     -moz-transition:all 0.2s ease;
       -o-transition:all 0.2s ease;
          transition:all 0.2s ease;
}
