body
{
	position : relative;
	z-index : 0;
}
ul
{
  list-style-image : url('../../images/fleche_list.png');
}

.nav-next-prev
{
	border-top : 1px solid #28bca4;
	padding-top : 20px;
	margin-top : 50px;
	margin-bottom : 10px;
	overflow : hidden;
	clear : both;
}

.nav-next-prev a.read-more.next
{
  font-family : 'StaticRegular', sans-serif;
  font-size : 14px;
  background : url('../../images/fleche_more.png') no-repeat center right #293036;
  color : #ffffff;
  text-decoration : none;
  border-bottom : 0px solid #28bca4;
  padding : 0 35px 0 10px;
  float : right;
}
.nav-next-prev a.read-more.prev
{
  font-family : 'StaticRegular', sans-serif;
  font-size : 14px;
  background : url('../../images/fleche_more_inversed.png') no-repeat center left #293036;
  color : #ffffff;
  text-decoration : none;
  border-bottom : 0px solid #28bca4;
  padding : 0 10px 0 35px;
  float : left;
}

.nav-next-prev a.read-more:hover
{
  border-bottom : 3px solid #28bca4;
}


.item-list ul.pager li
{
	display : inline-block;
	height : 21px;
	width : 21px;
	background-color : #293036;
	font-family : 'StaticRegular', sans-serif;
	font-size : 14px;
	color :  #ffffff;
	padding : 0;
	line-height: 23px;
}


.item-list ul.pager li a
{
	display : block;
	height : 21px;
	width : 21px;
	color :  #ffffff;
	text-decoration : none;
  -webkit-transition:all 0.2s ease;
     -moz-transition:all 0.2s ease;
       -o-transition:all 0.2s ease;
          transition:all 0.2s ease;
}
.item-list ul.pager li a:hover 
{
  background-color : #28bca4;
  -webkit-transition:all 0.2s ease;
     -moz-transition:all 0.2s ease;
       -o-transition:all 0.2s ease;
          transition:all 0.2s ease;
}

.item-list ul.pager li.pager-current
{
	font-weight : normal;
	background-color : #28bca4;  
}

.node.view-mode-full,
.node.view-mode-teaser {
  position: relative;
}
.node.view-mode-full .icone-set
{
  position : absolute;
  right : 0;
  top : 0;
}
.node.view-mode-teaser .icone-set {
  bottom: 10px;
  overflow: hidden;
  position: absolute;
  right: 5px;
  width: 65px;
  top: auto;
}
.sharethis-buttons .sharethis-wrapper .stButton
{
  margin : 0;
}
.sharethis-buttons .sharethis-wrapper .st_email_large .stButton .stLarge
{
  background : url('../../images/mail.png') no-repeat center !important;
}

.sharethis-buttons .sharethis-wrapper .st_twitter_large .stButton .stLarge
{
  background : url('../../images/twitter.png') no-repeat center !important;
}

.sharethis-buttons .sharethis-wrapper .st_facebook_large .stButton .stLarge
{
  background : url('../../images/facebook.png') no-repeat center !important;
  width : 15px;
}
.print-link .print-page
{
	display : inline-block;
	height : 25px;
	width : 25px;
	text-indent : 9999px;
	background-image : url('../../images/print.png');
	overflow : hidden;
}

.print-link .print_html
{
	margin : 0;
}
.print-link
{
	float: right;
  margin: 3px 0 0;
  padding: 0;
}
.sharethis-buttons {
  float: left;
  margin-right: 12px;
}

a.active_sort:after {
  background: url("../../images/triangle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 10px;
  width: 12px;
}

/*
.bandeau-don
{
  clear : both;
  height : 80px;
  background-color : #28bca4;
  margin-top : 40px;
  width: 475px;
}
*/

.bandeau-don span
{
  display: inline-block;
  float: left;
  /*padding: 20px;*/
}
aside .bandeau-don
{
  background-color: #28BCA4;
  clear: both;
  height: auto;
  margin-top: 40px;
  overflow: hidden;
  padding: 15px 15px 0;
  width: 165px;
}
aside .bandeau-don span,
aside .bandeau-don a
{
	float: none;
  word-wrap: normal;
}
.bandeau-don span,
.bandeau-don a
{
  font-family : 'NeouBold', sans-serif;
  font-size :25px;
  color: #FFF;
}
aside .bandeau-don a
{
  clear: both;
  float: none;
  margin: 10px 0 0 -20px;
  padding-right: 40px;
  width: 80px;
}
/*
.bandeau-don a
{
  float : right;
  display : inline-block;
  height : 32px;
  padding : 18px 20px 30px 80px;
  width : 90px;
  font-family : 'StaticBold', sans-serif;
  color : #ffffff;
  text-transform : uppercase;
  font-size : 25px;
  text-decoration : none;
  background : url('../../images/don-image.png') no-repeat 20px center #293036;
}
*/
a.read-more
{
  font-family : 'StaticRegular', sans-serif;
  font-size : 14px;
  background : url('/sites/all/themes/ilot/images/fleche_more.png') no-repeat center right #293036;
  color : #ffffff;
  text-decoration : none;
  border-bottom : 0px solid #28bca4;
  padding : 3px 35px 3px 10px;
  -webkit-transition:all 0.05s ease;
     -moz-transition:all 0.05s ease;
       -o-transition:all 0.05s ease;
          transition:all 0.05s ease;
}
a.read-more:hover 
{
	border-color : #28bca4 !important;
	border-size : 3px !important;
}
