.node-page-intro
{
	width: 700px;
	padding: 0px 30px;
}
.node-page-intro h1
{
	display: inline-block;
	padding: 0px 17px 0px 0px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 23px;
	background: url("/sites/all/themes/ilot/images/triangle.png") right bottom 8px no-repeat;
}
.node-page-intro .field-name-body
{
	font-size: 16px;
	margin-bottom: 40px;
}
.node-page-intro article
{
	width: 31%;
	float: left;
}
.node-page-intro article h2
{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 23px;
	margin: 0px 10px;
	padding: 0px;
}
.node-page-intro article .field-name-body
{
	margin: 0px 10px 30px 10px;
	height: 205px;
}
.node-page-intro article .read-more
{
	margin: 0px 10px;
}
.node-page-intro article .read-more:hover
{

	border-bottom: 3px solid #28BCA4;
}
/*************** PAGE INTRO CATEGORIE **************/

.node-type-intro-categories .main-section-intro-categorie
{
	width: 680px;
	padding-left: 25px;
	float: left;
}
.node-type-intro-categories .right-column-intro-categorie
{
	float: right;
	width: 230px;
}

.node-type-intro-categories .main-section-intro-categorie .main-title-cat
{
	text-transform: uppercase;
	background: url("/sites/all/themes/ilot/images/triangle.png") right bottom 12px no-repeat rgba(0, 0, 0, 0);
	padding: 0px 17px 0px 0px;
	display: inline-block;
	font-weight: normal;
	font-size: 25px;
}
.node-type-intro-categories .main-section-intro-categorie  .accroche-intro-categorie
{
	font-family: 'AvenirLTStd85Heavy',sans-serif;
	margin: 0;
}

/** CONTENT BY USER ****/

.node-type-intro-categories .main-section-intro-categorie  .field-name-body h2, .node-type-intro-categories .main-section-intro-categorie  .field-name-body h1, .node-type-intro-categories .main-section-intro-categorie  .field-name-body h3, .node-type-intro-categories .main-section-intro-categorie  .field-name-body h4, .node-type-intro-categories .main-section-intro-categorie  .field-name-body h5, .node-type-intro-categories .main-section-intro-categorie  .field-name-body h6
{
	font-weight: normal;
	font-family: 'NeouThin', sans-serif;
	background: url("/sites/all/themes/ilot/images/triangle.png") right bottom 16px no-repeat rgba(0, 0, 0, 0);
	display: inline-block;
	padding: 0px 15px 0px 0px;
	margin: 0;
	font-size: 23px;
	text-transform: uppercase;
}
.node-type-intro-categories .main-section-intro-categorie  .field-name-body ul li
{
	color: #28bca4;
}


/*************** RIGHT COLUMN **************/


.node-type-intro-categories .right-column-intro-categorie h2
{
	text-transform: uppercase;
	background: url("/sites/all/themes/ilot/images/triangle.png") right bottom 16px no-repeat rgba(0, 0, 0, 0);
	padding: 0px 17px 0px 0px;
	display: inline-block;
	font-weight: normal;
	margin: 0;
	margin-top: 30px;
	font-size: 23px;
}
.node-type-intro-categories .right-column-intro-categorie .contact-intro-cat
{
	font-family: 'AvenirLTStd85Heavy',sans-serif;
	margin: 7px 0px;
}
.node-type-intro-categories .right-column-intro-categorie .tel
{
	margin: 7px 0px 0px 0px;
	padding-left: 25px;
	padding-top: 7px;
	background: url("/sites/all/themes/ilot/images/tel.png") left center no-repeat rgba(0, 0, 0, 0);
}
.node-type-intro-categories .right-column-intro-categorie .email
{
	margin: 0px 0px 7px 0px;
	padding-left: 25px;

	background: url("/sites/all/themes/ilot/images/mail2.png") left center no-repeat rgba(0, 0, 0, 0);
}
.node-type-intro-categories .right-column-intro-categorie .email a {text-decoration: none;}