/*ADJUSTMENT GAB - 23/06/14 */

article.node-projets .bandeau-don 
{
  position: relative;
}

article.node-projets .bandeau-don span
{
  position:absolute;
  left:25px;
  top:16px;
  float:none;
}


.node-projets.view-mode-short_teaser
{
	width : 170px;
	height : 340px;
	background-color : #28bca4;
	cursor : pointer;
}
.node-projets.view-mode-short_teaser h2
{
	font-size : 23px;
	font-family : 'StaticBold', sans-serif;
	font-weight : normal;
	line-height : 20px;
	margin : 17px 13px 0 13px;
	text-transform : uppercase;
}
.node-projets.view-mode-short_teaser h3 a,
.node-projets.view-mode-short_teaser h2 a {
  color: #2E2E2E;
}
.node-projets.view-mode-short_teaser > a {
	display: block;
	height: 170px
}
.node-projets.view-mode-short_teaser .field-name-field-projet-image-accroche
{
	position : relative;
	width : 170px;
	height : 170px;
}
.node-projets.view-mode-short_teaser .field-name-field-projet-image-accroche:after
{
  content : '';
  position : absolute;
  top : 0;
  width : 100%;
  height : 100%;
  background : rgba(40,188,164,0.2);
}
.node-projets.view-mode-short_teaser h3
{
  font-size : 20px;
  font-family : 'StaticRegular', sans-serif;
  line-height : 20px;
  font-weight : normal;
  margin : 3px 13px 0 13px;
  
}

.node-projets.view-mode-short_teaser a.read-more
{
  font-family : 'StaticRegular', sans-serif;
  font-size : 14px;
  background : url('/sites/all/themes/ilot/images/fleche_more.png') no-repeat center right #293036;
  color : #ffffff;
  text-decoration : none;
  border-bottom : 0px solid #28bca4;
  padding : 3px 35px 3px 10px;
  display : none;
  margin-left : 40px;
}

.node-projets.view-mode-short_teaser:hover a.read-more
{
	display : inline;
}

.node-projets.view-mode-teaser
{
	position: relative;
  width : 750px;
  height : 190px;
  border-bottom : 1px solid #28bca4;
  margin-bottom : 10px;
}

.node-projets.view-mode-teaser .vignette 
{
	float : left;
	height : 190px;
	width : 205px;
	margin-right : 20px;
}

.node-projets.view-mode-teaser .vignette .field-name-field-projet-image-accroche
{
	position : relative;
	height : 190px;
}

.node-projets.view-mode-teaser .vignette .field-name-field-projet-image-accroche:after
{
  content : '';
  position : absolute;
  top : 0;
  width : 100%;
  height : 100%;
  background : rgba(40,188,164,0.2);
}

.node-projets.view-mode-teaser .texte
{
	height : 190px;
}

.node-projets.view-mode-teaser h2
{
  font-family : 'NeouBold', sans-serif;
  font-size : 19px;
  margin : 0;
  font-weight : normal;
}
.node-projets.view-mode-teaser h2 a,
.node-projets.view-mode-teaser h3 a {
	text-decoration: none;
	color: inherit;
}
.node-projets.view-mode-teaser h3
{
  font-family : 'Anaheim', sans-serif;
  text-transform: uppercase;
  font-size : 19px;
  line-height : 17px;
  margin : 0;
  font-weight : normal;
}

.node-projets.view-mode-teaser h3:after,
.node-projets.view-mode-full > h2:after,
.node-projets.view-mode-full h3.sous-titre:after
{
  content : '';
  display : inline-block;
  width : 12px;
  height : 10px;
  background : url('/sites/all/themes/ilot/images/triangle.png') no-repeat;
}

.node-projets.view-mode-teaser .field-name-field-projet-accoche
{
  font-family : 'Gill Sans', sans-serif;
  font-weight: bold;
  font-size : 14px;
  line-height : 16px;
  margin : 15px 0 0 0;
}

.node-projets.view-mode-teaser a.read-more
{
  background: url("/sites/all/themes/ilot/images/fleche_more.png") no-repeat scroll right center #293036;
  border-bottom: 0 solid #28BCA4;
  bottom: 10px;
  color: #FFFFFF;
  font-family: 'StaticRegular',sans-serif;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding: 3px 35px 3px 10px;
  position: absolute;
  text-decoration: none;
}

.node-projets.view-mode-teaser a.read-more:hover
{
  border-bottom : 3px solid #28bca4;
}

.node-projets.view-mode-full
{
	position: relative;
	width : 630px;
	float: left;
}
.field-name-field-projet-temoin-citation {
	font-family : 'AvenirLTStd85Heavy', sans-serif;
}
aside.node-projets.view-mode-full
{
  position: relative;
  width : 195px;
  float: right;
}

.node-projets.view-mode-full h2,
.node-projets.view-mode-full h3.sous-titre,
.node-projets.view-mode-full h3.sous-titre-simple
{
  font-family : 'Anaheim', sans-serif;
  text-transform: uppercase;
  font-size : 25px;
  font-weight : normal;
  line-height: 25px;
  margin : 0;
}

.node-projets.view-mode-full > h1,
.node-projets.view-mode-full > h2
{
	width: 370px;
}

.node-projets.view-mode-full h1,
.node-projets.view-mode-full h2.sous-titre,
.node-projets.view-mode-full h2.sous-titre-simple
{
	font-family : 'NeouBold', sans-serif;
	font-size : 25px;
	font-weight: normal;
	margin : 0;
	line-height : 35px;
}

.node-projets.view-mode-full .icone-set {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.node-projets.view-mode-full .info-projet
{
	height : 260px;
	background : #28BCA4;
	width : 100%;
	color : #ffffff;
	clear : both;
	margin-top : 30px;
}

.node-projets.view-mode-full .field-name-field-projet-accoche
{
	font-family : 'AvenirLTStd85Heavy', sans-serif;
	font-size : 16px;
	margin : 20px 0;
}

.node-projets.view-mode-full .info-projet h2
{
	display : inline-block;
	margin-top : 20px;
}

.node-projets.view-mode-full .info-projet h3
{
	display : block;
}

.node-projets.view-mode-full .info-projet .field-name-field-projet-liste-info
{
  font-family : 'StaticRegular', sans-serif;
  font-size : 18px;
  line-height : 16px;
}

.node-projets.view-mode-full .info-projet .field-name-field-projet-liste-info p
{
	margin : 11px 0;
}

.node-projets.view-mode-full .info-projet .image-accroche
{
	float: left;
  height: 260px;
  margin-right: 20px;
  width: 315px;
}

.node-projets.view-mode-full .field-name-field-projet-contenu
{
	clear : both;
	margin-top : 20px;
}

.node-projets.view-mode-full .field-name-field-projet-contenu .content.vert
{
	background-color : #28bca4;
	color : #ffffff;
	padding : 20px;
}

.node-projets.view-mode-full .field-name-field-projet-contenu .content.vert ul
{
  list-style-image : url('/sites/all/themes/ilot/images/fleche_list_blanc.png');
}

.node-projets.view-mode-full .field-name-field-projet-contenu .content.gris
{
  background-color : #f4f4f4;
  padding : 20px;
}

.node-projets.view-mode-full .field-name-field-projet-contenu .field-name-field-projet-contenu-texte
{
	font-family : 'Gill Sans', sans-serif;
	font-size : 15px;
}
.node-projets.view-mode-full .temoignage {
  background-color : #f4f4f4;
  padding : 20px;
  margin-top: 40px;
}
.node-projets.view-mode-full .contact
{
	margin-top : 50px;
}
.node-projets.view-mode-full .info-primaire {
	margin-top: 50px;
}
.node-projets.view-mode-full .info-primaire h2 {
  margin-bottom: 10px;
}

.node-projets.view-mode-full .info-primaire .field-name-field-projet-info-primary-texte {
	color: #28bca4;
}
.node-projets.view-mode-full .info-primaire .field-name-field-projet-info-primary-texte p {
	margin-top:0;
}
.node-projets.view-mode-full .contact div,
.node-projets.view-mode-full .contact h3.contact
{
	font-family : 'StaticRegular', sans-serif;
	font-size : 24px;
	text-transform : uppercase;
}

.node-projets.view-mode-full .contact h3.contact
{
  color: #28BCA4;
  line-height: 20px;
  margin: 15px 0 5px;
}