@import "breakpoint";
@import "mixins";

html,body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-size: 1.1vw;
    //font-size: 15px;
    line-height: 1.3em;
    font-family: 'SourceSansProRegular';

  @media #{$m-m} {
    font-size: 16px;
  }

  @media #{$m-t} {
    font-size: 15px;
  }
  @media #{$m-sd} {
    font-size: 18px;
  }
}




h1{

    text-transform: uppercase;  
    font-weight: 700;
     margin: 1rem 0rem;
    @include fz(4);

    &.gros {

        @include fz(5);
        margin: 3rem 1rem;
        text-align:left;

        @media #{$m-m} {
            @include fz(5);
            font-size: 2.8rem;
            text-align: center;
        }

    }

}


h2{
    text-transform: uppercase;
    @include fz(3);
    font-weight: 700;
    margin: 0 0 0.5rem 0;
 
}

h3{
    text-transform: uppercase;
   @include fz(2);
    font-weight: 300;
    margin: 0 0 0.5rem 0;
   
}
p {

     @include fz(1);
     margin-bottom: 0.5rem;

     &.gros{
       @include fz(4);
       padding: 2rem;
       padding-bottom: 3rem;
     }

}


strong{
  font-weight: bold;
}
ul {

    list-style-type: disc;
    padding-left: 3rem;

    font-size: 1rem;

    li {
//      font-size: 1rem;
        @include fz(1);
        line-height: 1.5rem;
    }

}

input[type="text"],input[type="number"]{

  padding:0.25rem;
  display: inline-block;
  background-color: #fff;
  border:none;
  width: 60%;
  vertical-align: top;
  outline: 0;
  border-bottom:1px solid rgba(black,0);
  &:focus{
    border-bottom:1px solid rgba(black,0.5);
  }


}

textarea{
  padding:0.5rem;
  display: inline-block;
  background-color: #fff;
  border:none;
  width: 100%;
  outline: 0;
   border-bottom:1px solid rgba(black,0);
  -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
       &:focus{
    border-bottom:1px solid rgba(black,0.5);
  }
}

.form-textarea-wrapper {
  display: inline-block;
     vertical-align: top;
       width: 60%;
}

.form-item{
  float: none;
  width: 100%;
  display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  &.form-type-checkbox{
    margin:0px !important;

    display: inline-block;
    margin-left:1rem !important;
    width: 1.2rem;
    height: 1.2rem;
    input[type="checkbox"]{
      cursor: pointer;
      outline: 0;
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      background-color: #fff;

      &:checked{
        background-color: $green;
      }
    }
  }

  &.form-type-radio{

     margin:0px !important;
     width: auto;
     margin-right: 1rem;

    display: inline-block;
    .unique {

      display: inline-block;
      background-image: none !important;
      width: 1.5rem !important;
       height: 1.5rem !important;
      //background-color: white;
      border-radius:50%;
      margin-right: 0.3rem;
      vertical-align: middle;

    }

    label{
      vertical-align: middle;
      display: inline-block !important;
      width: auto;
       margin-right: 1rem;
    }

  }
}


    input[type="radio"]{
      cursor: pointer;
      outline: 0;
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      background-color: #fff;

      &:checked{
        background-color: $green;
      }
    }

label{
  display: inline-block;
  width: 30%;
  text-align: right;
  vertical-align: top;
  @include fz(3);
}

.field-name-field-temoignage-accroche {

    .field-item.even {

        line-height: 1.5rem;

    }

}
