$mobiles : 320px;
$mobilem : 375px;
$mobilel : 425px;
$tablet : 768px;
$laptop : 1024px;
$laptopl : 1440px;
$laptopxcl: 1650px;
$laptopxl : 1920px;

$max : $laptopl ;

$margin : 1rem;

$green: #00a886;
$red: rgb(144,49,57);
$lightgrey: rgb(247,247,247);
$grey: #4b4b4b;
$grey_2: #f7f7f7;
$grey_3 : #EEE;
$grey_4:rgb(216, 216, 216);
$grey_5:rgb(230,230,230);

// font-size
$s-min : 0.9rem; // mini texte
$s : 1.1rem; // pti p
$ss : 1.3rem; // p
$sss : 1.6rem; // sous titre
$ssss : 2rem; //gros titres
$s-max : 6rem; //maxi H1

$lh-s-min : 1.2rem;
$lh-s : 1.5rem;
$lh-ss : 1.8rem;
$lh-sss : 2rem;
$lh-ssss : 2.3rem;
$lh-s-max : 6.2rem;

$a-fs : $s-min, $s, $ss, $sss, $ssss, $s-max;
$a-lh : $lh-s-min, $lh-s, $lh-ss, $lh-sss, $lh-ssss, $lh-s-max;

$image-path: '../images' !default;
$fallback-extension: 'png' !default;
