$mobiles : 320px;
$mobilem : 375px;
$mobilel : 425px;
$tablet : 768px;
$laptop : 1024px;
$laptopl : 1440px;
$laptopxl : 1920px;

$max : $laptopl ;

$green: #00a886;
$lightgrey: rgb(247,247,247);
$grey: #4b4b4b;
$grey_2: #f7f7f7;
$grey_3 : #EEE;
