@import "singularitygs";
@import "breakpoint";
@import "../variables/var";

html {
   
    background-color: white;

}



.node-page-simple{
	

	h1{
		color:$red;
		@include fz(4);
	}

	.field-name-field-page-simple-contact{
		background-color: $green;
		@include b(50%);
		padding:2rem;
		padding-bottom: 0rem;
		color:white;
	}


}

.node-page-intro{
	h1{
		color:$red;
		@include fz(4);
	}
	article{
		img{
			width: 100%;
		}
		@include b(32%);
		padding:2rem;
		text-align: center;

		.read-more{
			@include btn_actu();
		}
	}
}


.page-checkout{
	@include container(false);
	position: relative;
	text-align: center;
	padding-bottom: 3rem;

	.messages{
		position: absolute;
		left:-10rem;
		top:-10rem;
	}


	.checkout_pane_info{
		text-align: left;
		@include b(89%);
		
	
		.fieldset-legend{
			display: none;
		}
		h2{
			@include fz(4);
		}
		.menu{
			@include u();
			padding: 0rem;
			list-style: none;
			li{
				display: inline-block;
				vertical-align: middle;
				padding-right:1rem;
				a{
					
					@include btn_actu(darken($green,1%),100%);
				}
			}
		}

		.node-don-savoir-plus{

			p{
				font-weight: bold;
				padding-right: 8rem;
			}
			img{
				top:0px;
				float: none !important;
				position: absolute;
				right: 0px;
			}

		}
	}

	.customer_profile_billing,.commerce_french_donate{
		text-align: left;
		@include b(41%);	
		background-color: darken($grey_3,5%);
		@include transition(all 0.5s ease-in-out);

		&:hover{
			background-color: darken($grey_3,10%);
		}
		margin:2%;
		padding:3.5rem;

		.field-type-list-boolean{
			margin-top:1rem;
			margin-bottom: 1rem;
		}
		.fieldset-legend{
			display: none;
		}

		.button-operator{
			display: none;
		}

		.checkout-cancel {
			display: none;
		}
		.checkout-submit{
			 -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
			@include btn_actu($green_bt);
		}

		.checkout-buttons{
				text-align: center;
				margin-top:1rem;
		}
	}

	.calculator{
		text-align: center;
		.title{
			@include fz(4);
			text-align:left;
			text-transform: uppercase;
		}
		.info{
			text-align: left;
			margin-top:1rem;
			margin-bottom: 1rem;
		}
		a{
			@include btn_actu($red,100%);
		}
	}
	.form-item-commerce-french-donate-fieldset-wrapper-fieldset-unique-unique-free{
		label{
			display: none;
		}
	}
	.form-item-commerce-french-donate-fieldset-wrapper-fieldset-unique-unique{
		margin-bottom: 2rem;
		label{
			display: none;
		}
	}

	.commerce_payment{
		display: none;
	}
}



.container-page{
    @include container(false);
    text-align: center;
    margin-top:1rem;
    padding-bottom: 3rem;

    article.view-mode-full, .view-t-moignages-de-salari-s, .view-temoignages-de-benevoles, .view-temoignages-de-donateurs, .view-temoignages-residants, .view-temoignages-partenaires, .view-t-moignages-d-entreprises  {

      float: none;
      margin-left: 0px;
      @include b(70%);
      text-align:left;

    }
    aside.view-mode-full {
      float: none;
      
      margin-left: 1rem;

      @media #{$m-t-up} {
         margin-left: 4rem;
      }

      @include b(23%);
      text-align:left;

      h1{
        text-align: center;
      }

      article{
        width: 100%;
        padding: 1.5rem;
      }
      .view-actualites-contextuel{
         width: 100%;
         padding: 1.5rem;
         text-align: center;
         .vignette{
             margin-top:2rem;
         }
      }

    }

    &.full{
       @include container(true); 
       article.view-mode-full{
            @include b(90%);
            text-align: center;
       }
    }
}
